In [2]:
pros = [
(1, 1, '프로젝트가 승인되었습니다.'),
(0, 2, '프로젝트가 승인 대기중입니다.'),
(1, 3, '프로젝트가 승인되었습니다.'),
(1, 4, '프로젝트가 승인되었습니다.'),
(2, 5, '프로젝트가 거절되었습니다. 거절코드 : 129'),
(1, 6, '프로젝트가 승인되었습니다.'),
(1, 7, '프로젝트가 승인되었습니다.'),
(1, 8, '프로젝트가 승인되었습니다.'),
(0, 9, '프로젝트가 승인 대기중입니다.'),
(0, 10, '프로젝트가 승인 대기중입니다.'),
(2, 11, '프로젝트가 거절되었습니다. 거절코드 : 171'),
(1, 12, '프로젝트가 승인되었습니다.'),
(2, 13, '프로젝트가 거절되었습니다. 거절코드 : 149'),
(1, 14, '프로젝트가 승인되었습니다.'),
(1, 15, '프로젝트가 승인되었습니다.'),
(0, 16, '프로젝트가 승인 대기중입니다.'),
(1, 17, '프로젝트가 승인되었습니다.'),
(0, 18, '프로젝트가 승인 대기중입니다.'),
(1, 19, '프로젝트가 승인되었습니다.'),
(2, 20, '프로젝트가 거절되었습니다. 거절코드 : 161'),
(0, 21, '프로젝트가 승인 대기중입니다.'),
(2, 22, '프로젝트가 거절되었습니다. 거절코드 : 169'),
(1, 23, '프로젝트가 승인되었습니다.'),
(1, 24, '프로젝트가 승인되었습니다.'),
(1, 25, '프로젝트가 승인되었습니다.'),
(0, 26, '프로젝트가 승인 대기중입니다.'),
(1, 27, '프로젝트가 승인되었습니다.'),
(2, 28, '프로젝트가 거절되었습니다. 거절코드 : 171'),
(0, 29, '프로젝트가 승인 대기중입니다.'),
(1, 30, '프로젝트가 승인되었습니다.'),
(1, 31, '프로젝트가 승인되었습니다.'),
(1, 32, '프로젝트가 승인되었습니다.'),
(1, 33, '프로젝트가 승인되었습니다.'),
(0, 34, '프로젝트가 승인 대기중입니다.'),
(1, 35, '프로젝트가 승인되었습니다.'),
(1, 36, '프로젝트가 승인되었습니다.'),
(0, 37, '프로젝트가 승인 대기중입니다.'),
(1, 38, '프로젝트가 승인되었습니다.'),
(1, 39, '프로젝트가 승인되었습니다.'),
(2, 40, '프로젝트가 거절되었습니다. 거절코드 : 165'),
(0, 41, '프로젝트가 승인 대기중입니다.'),
(0, 42, '프로젝트가 승인 대기중입니다.'),
(1, 43, '프로젝트가 승인되었습니다.'),
(1, 44, '프로젝트가 승인되었습니다.'),
(1, 45, '프로젝트가 승인되었습니다.'),
(2, 46, '프로젝트가 거절되었습니다. 거절코드 : 128'),
(1, 47, '프로젝트가 승인되었습니다.'),
(1, 48, '프로젝트가 승인되었습니다.'),
(2, 49, '프로젝트가 거절되었습니다. 거절코드 : 152'),
(0, 50, '프로젝트가 승인 대기중입니다.'),
(1, 51, '프로젝트가 승인되었습니다.'),
(1, 52, '프로젝트가 승인되었습니다.'),
(1, 53, '프로젝트가 승인되었습니다.'),
(1, 54, '프로젝트가 승인되었습니다.'),
(0, 55, '프로젝트가 승인 대기중입니다.'),
(1, 56, '프로젝트가 승인되었습니다.'),
(1, 57, '프로젝트가 승인되었습니다.'),
(0, 58, '프로젝트가 승인 대기중입니다.'),
(0, 59, '프로젝트가 승인 대기중입니다.'),
(1, 60, '프로젝트가 승인되었습니다.'),
(1, 61, '프로젝트가 승인되었습니다.'),
(2, 62, '프로젝트가 거절되었습니다. 거절코드 : 139'),
(0, 63, '프로젝트가 승인 대기중입니다.'),
(2, 64, '프로젝트가 거절되었습니다. 거절코드 : 124'),
(1, 65, '프로젝트가 승인되었습니다.'),
(2, 66, '프로젝트가 거절되었습니다. 거절코드 : 130'),
(1, 67, '프로젝트가 승인되었습니다.'),
(2, 68, '프로젝트가 거절되었습니다. 거절코드 : 173'),
(1, 69, '프로젝트가 승인되었습니다.'),
(0, 70, '프로젝트가 승인 대기중입니다.')]

# approved_id = [p[1] for p in pros if p[0] == 1 and p[1] <= 30]
approved_id = [p[1] for p in pros if p[0] == 1]

In [3]:
import numpy as np
approved_id

[1,
 3,
 4,
 6,
 7,
 8,
 12,
 14,
 15,
 17,
 19,
 23,
 24,
 25,
 27,
 30,
 31,
 32,
 33,
 35,
 36,
 38,
 39,
 43,
 44,
 45,
 47,
 48,
 51,
 52,
 53,
 54,
 56,
 57,
 60,
 61,
 65,
 67,
 69]

In [4]:
project_rewards = [
    (1, ["기본", "프리미엄"], 'level', '메이크업 키트'),
    (2, ["스킨", "로션", "에센스"], 'product', '피부 관리 세트'),
    (3, ["트렌드 분석 보고서", "개인 컨설팅"], 'service', '뷰티 트렌드 분석'),
    (4, ["브러시 세트", "스펀지 세트"], 'tool', '메이크업 도구 세트'),
    (5, ["숏컷", "미디엄", "롱"], 'style', '헤어스타일링 가이드'),
    (6, ["수분", "미백", "주름개선"], 'effect', '스킨케어 제품'),
    (7, ["리포트", "세미나 참석권"], 'content', '뷰티 산업 분석'),
    (8, ["메이크업", "스킨케어", "헤어"], 'category', '뷰티 콘텐츠 구독권'),
    (9, ["아시아", "유럽", "미국"], 'region', '글로벌 뷰티 트렌드 북'),
    (10, ["초급", "중급", "고급"], 'level', '셀프 메이크업 강좌'),
    (11, ["방탄소년단", "블랙핑크", "트와이스"], 'group', '아이돌 댄스 클래스'),
    (12, ["내추럴", "스모키", "글리터"], 'style', '아이돌 메이크업 키트'),
    (13, ["1일 체험", "1주일 코스", "1개월 집중 코스"], 'duration', 'K-POP 댄스 워크샵'),
    (14, ["캐주얼", "스트릿", "무대의상"], 'style', '아이돌 패션 아이템'),
    (15, ["60년대", "90년대", "현재"], 'era', 'K-POP 역사 도감'),
    (16, ["온라인", "오프라인"], 'type', '아이돌 팬미팅 티켓'),
    (17, ["촬영 장비", "편집 소프트웨어", "기획 가이드"], 'tool', 'K-POP 콘텐츠 제작 키트'),
    (18, ["작사 체험", "작곡 체험", "녹음 체험"], 'experience', 'K-POP 음반 제작 체험'),
    (19, ["기초", "응용", "창작"], 'level', 'K-POP 안무 창작 클래스'),
    (20, ["디지털 이미지", "인쇄물", "굿즈"], 'format', '팬아트 제작 키트'),
    (21, ["OST 앨범", "메이킹 영상", "캐스팅 참여 기회"], 'item', '한국 드라마 OST 패키지'),
    (22, ["스토리보드 템플릿", "캐릭터 디자인 가이드", "출판 컨설팅"], 'tool', '웹툰 제작 키트'),
    (23, ["시나리오 작성 가이드", "연기 클래스", "촬영 현장 방문권"], 'experience', 'K-드라마 제작 참여'),
    (24, ["영화 티켓", "팝콘 세트", "영화 포스터"], 'item', 'K-영화 프리미어 패키지'),
    (25, ["배우 사인회", "대본 리딩 참관", "촬영장 방문"], 'event', 'K-드라마 팬미팅 이벤트'),
    (26, ["인터뷰 영상", "NG 모음집", "비하인드 포토북"], 'content', '드라마 메이킹 필름 세트'),
    (27, ["포토카드", "폰케이스", "키링"], 'item', 'K-드라마 굿즈 세트'),
    (28, ["리뷰 작성 가이드", "촬영 장비", "편집 소프트웨어"], 'tool', '드라마 리뷰 채널 스타터 키트'),
    (29, ["VIP 입장권", "기념품", "강연 참가권"], 'ticket', 'K-콘텐츠 박람회 패키지'),
    (30, ["영화 티켓", "팝콘", "기념 포스터"], 'item', 'K-영화 해외 상영회 패키지'),
    (31, ["배추김치", "파김치", "깍두기"], 'select', '김치 만들기 키트'),
    (32, ["원데이클래스", "중급 클래스", "프로페셔널 클래스"], 'select', '한식 요리 클래스'),
    (33, ["기본", "프리미엄", "스페셜"], 'select', '한식 체험 키트'),
    (35, ["전통", "퓨전", "프리미엄"], 'select', '한식 디저트 세트'),
    (36, ["입문자용", "고급자용", "전문가용"], 'select', '한식 레시피 북'),
    (38, ["1인", "2인", "가족용"], 'select', '한식 정식 세트'),
    (39, ["기본", "심화", "마스터"], 'select', '셰프 클래스 입장권'),
    (43, ["CD", "LP", "디지털 다운로드"], 'select', '전통 음악 앨범'),
    (44, ["키링", "머그컵", "에코백"], 'select', '문화재 보호 기념품'),
    (45, ["소형", "중형", "대형"], 'select', '전통 공예 작품'),
    (47, ["초급자용", "중급자용", "전문가용"], 'select', '의상 제작 키트'),
    (48, ["기본", "프리미엄", "궁중 요리"], 'select', '전통 음식 복원 요리 키트'),
    (51, ["일반석", "VIP석", "온라인 관람"], 'select', '한복 패션쇼 입장권'),
    (52, ["티셔츠", "재킷", "한복 스타일"], 'select', 'K-패션 의류'),
    (53, ["개인용", "팀용", "전문가용"], 'select', '디자인 공모전 참가 키트'),
    (54, ["스킨케어", "메이크업", "패션 콜라보"], 'select', 'K-뷰티 콜라보 세트'),
    (56, ["티셔츠", "아우터", "한정판"], 'select', '팝업 스토어 한정 의류'),
    (57, ["초급", "중급", "고급"], 'select', '패션 교육 교재'),
    (60, ["기본", "프리미엄", "한정판"], 'select', '한복 리메이크 키트'),
    (61, ["보드 게임", "디지털 게임", "확장팩"], 'select', '전통 게임 세트'),
    (65, ["개인 참가", "팀 참가", "전문가 참가"], 'select', '스토리 공모전 참가 티켓'),
    (67, ["CD", "LP", "디지털 다운로드"], 'select', 'K-게임 OST 앨범'),
    (69, ["일반", "VIP", "온라인"], 'select', '컨퍼런스 입장권'),
]

In [5]:
len(approved_id) == len(project_rewards)

False

In [6]:
package_info = {
    i:0 for i in range(1, 71)
}

In [7]:

global_id = 1
for project_id in approved_id:
    for _ in range(np.random.randint(1, 150 + 1)):
        user_id = np.random.randint(1, 40 + 1)
        day = np.random.randint(7, 50 + 1)
        supported_at = f"(SELECT projects.end_date - INTERVAL {day} DAY FROM projects WHERE projects.id={project_id})"
        package_count = np.random.randint(1, 11)
        tmp_list = [r[1] for r in project_rewards if r[0]==project_id][0]
        option_list = tmp_list[np.random.randint(0, len(tmp_list))]
        print(f"INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) "+
              f"VALUES ({global_id}, {supported_at}, {global_id}, {global_id}, {project_id}, {user_id});")
        
        print(f"INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) "+
              f"VALUES ({global_id}, {supported_at}, {1}, {global_id}, {global_id});")
        
        print(f"INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) "+
              f"VALUES ({global_id}, '[\"{option_list}\"]', {package_count}, {global_id}, {project_id}, {global_id});")
        
        global_id += 1
        package_info[project_id] += 1

INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (1, (SELECT projects.end_date - INTERVAL 17 DAY FROM projects WHERE projects.id=1), 1, 1, 1, 12);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (1, (SELECT projects.end_date - INTERVAL 17 DAY FROM projects WHERE projects.id=1), 1, 1, 1);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (1, '["프리미엄"]', 1, 1, 1, 1);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (2, (SELECT projects.end_date - INTERVAL 17 DAY FROM projects WHERE projects.id=1), 2, 2, 1, 32);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (2, (SELECT projects.end_date - INTERVAL 17 DAY FROM projects WHERE projects.id=1), 1, 2, 2);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (2, '["기본"]', 3, 2, 1, 2);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (3, (SELECT projects.end_date - INTERVAL 44 DAY FROM projects WHERE projects.id=1), 3, 3, 1, 2);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (3, (SELECT projects.end_date - INTERVAL 44 DAY FROM projects WHERE projects.id=1), 1, 3, 3);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (3, '["기본"]', 6, 3, 1, 3);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (4, (SELECT projects.end_date - INTERVAL 14 DAY FROM projects WHERE projects.id=1), 4, 4, 1, 15);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (4, (SELECT projects.end_date - INTERVAL 14 DAY FROM projects WHERE projects.id=1), 1, 4, 4);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (4, '["기본"]', 3, 4, 1, 4);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (5, (SELECT projects.end_date - INTERVAL 27 DAY FROM projects WHERE projects.id=1), 5, 5, 1, 28);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (5, (SELECT projects.end_date - INTERVAL 27 DAY FROM projects WHERE projects.id=1), 1, 5, 5);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (5, '["프리미엄"]', 2, 5, 1, 5);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (6, (SELECT projects.end_date - INTERVAL 47 DAY FROM projects WHERE projects.id=1), 6, 6, 1, 29);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (6, (SELECT projects.end_date - INTERVAL 47 DAY FROM projects WHERE projects.id=1), 1, 6, 6);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (6, '["기본"]', 1, 6, 1, 6);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (7, (SELECT projects.end_date - INTERVAL 43 DAY FROM projects WHERE projects.id=1), 7, 7, 1, 17);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (7, (SELECT projects.end_date - INTERVAL 43 DAY FROM projects WHERE projects.id=1), 1, 7, 7);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (7, '["기본"]', 8, 7, 1, 7);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (8, (SELECT projects.end_date - INTERVAL 30 DAY FROM projects WHERE projects.id=1), 8, 8, 1, 23);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (8, (SELECT projects.end_date - INTERVAL 30 DAY FROM projects WHERE projects.id=1), 1, 8, 8);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (8, '["기본"]', 6, 8, 1, 8);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (9, (SELECT projects.end_date - INTERVAL 36 DAY FROM projects WHERE projects.id=1), 9, 9, 1, 16);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (9, (SELECT projects.end_date - INTERVAL 36 DAY FROM projects WHERE projects.id=1), 1, 9, 9);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (9, '["프리미엄"]', 2, 9, 1, 9);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (10, (SELECT projects.end_date - INTERVAL 42 DAY FROM projects WHERE projects.id=1), 10, 10, 1, 3);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (10, (SELECT projects.end_date - INTERVAL 42 DAY FROM projects WHERE projects.id=1), 1, 10, 10);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (10, '["프리미엄"]', 10, 10, 1, 10);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (11, (SELECT projects.end_date - INTERVAL 30 DAY FROM projects WHERE projects.id=1), 11, 11, 1, 25);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (11, (SELECT projects.end_date - INTERVAL 30 DAY FROM projects WHERE projects.id=1), 1, 11, 11);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (11, '["프리미엄"]', 2, 11, 1, 11);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (12, (SELECT projects.end_date - INTERVAL 22 DAY FROM projects WHERE projects.id=1), 12, 12, 1, 15);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (12, (SELECT projects.end_date - INTERVAL 22 DAY FROM projects WHERE projects.id=1), 1, 12, 12);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (12, '["프리미엄"]', 8, 12, 1, 12);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (13, (SELECT projects.end_date - INTERVAL 10 DAY FROM projects WHERE projects.id=1), 13, 13, 1, 22);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (13, (SELECT projects.end_date - INTERVAL 10 DAY FROM projects WHERE projects.id=1), 1, 13, 13);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (13, '["기본"]', 4, 13, 1, 13);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (14, (SELECT projects.end_date - INTERVAL 23 DAY FROM projects WHERE projects.id=1), 14, 14, 1, 35);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (14, (SELECT projects.end_date - INTERVAL 23 DAY FROM projects WHERE projects.id=1), 1, 14, 14);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (14, '["프리미엄"]', 3, 14, 1, 14);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (15, (SELECT projects.end_date - INTERVAL 8 DAY FROM projects WHERE projects.id=1), 15, 15, 1, 9);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (15, (SELECT projects.end_date - INTERVAL 8 DAY FROM projects WHERE projects.id=1), 1, 15, 15);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (15, '["프리미엄"]', 9, 15, 1, 15);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (16, (SELECT projects.end_date - INTERVAL 40 DAY FROM projects WHERE projects.id=1), 16, 16, 1, 11);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (16, (SELECT projects.end_date - INTERVAL 40 DAY FROM projects WHERE projects.id=1), 1, 16, 16);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (16, '["프리미엄"]', 2, 16, 1, 16);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (17, (SELECT projects.end_date - INTERVAL 21 DAY FROM projects WHERE projects.id=1), 17, 17, 1, 7);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (17, (SELECT projects.end_date - INTERVAL 21 DAY FROM projects WHERE projects.id=1), 1, 17, 17);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (17, '["프리미엄"]', 9, 17, 1, 17);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (18, (SELECT projects.end_date - INTERVAL 12 DAY FROM projects WHERE projects.id=1), 18, 18, 1, 25);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (18, (SELECT projects.end_date - INTERVAL 12 DAY FROM projects WHERE projects.id=1), 1, 18, 18);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (18, '["기본"]', 8, 18, 1, 18);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (19, (SELECT projects.end_date - INTERVAL 48 DAY FROM projects WHERE projects.id=1), 19, 19, 1, 11);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (19, (SELECT projects.end_date - INTERVAL 48 DAY FROM projects WHERE projects.id=1), 1, 19, 19);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (19, '["기본"]', 10, 19, 1, 19);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (20, (SELECT projects.end_date - INTERVAL 49 DAY FROM projects WHERE projects.id=1), 20, 20, 1, 35);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (20, (SELECT projects.end_date - INTERVAL 49 DAY FROM projects WHERE projects.id=1), 1, 20, 20);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (20, '["기본"]', 1, 20, 1, 20);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (21, (SELECT projects.end_date - INTERVAL 30 DAY FROM projects WHERE projects.id=1), 21, 21, 1, 18);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (21, (SELECT projects.end_date - INTERVAL 30 DAY FROM projects WHERE projects.id=1), 1, 21, 21);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (21, '["프리미엄"]', 4, 21, 1, 21);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (22, (SELECT projects.end_date - INTERVAL 20 DAY FROM projects WHERE projects.id=1), 22, 22, 1, 32);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (22, (SELECT projects.end_date - INTERVAL 20 DAY FROM projects WHERE projects.id=1), 1, 22, 22);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (22, '["프리미엄"]', 1, 22, 1, 22);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (23, (SELECT projects.end_date - INTERVAL 15 DAY FROM projects WHERE projects.id=1), 23, 23, 1, 36);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (23, (SELECT projects.end_date - INTERVAL 15 DAY FROM projects WHERE projects.id=1), 1, 23, 23);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (23, '["프리미엄"]', 2, 23, 1, 23);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (24, (SELECT projects.end_date - INTERVAL 16 DAY FROM projects WHERE projects.id=1), 24, 24, 1, 37);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (24, (SELECT projects.end_date - INTERVAL 16 DAY FROM projects WHERE projects.id=1), 1, 24, 24);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (24, '["기본"]', 10, 24, 1, 24);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (25, (SELECT projects.end_date - INTERVAL 28 DAY FROM projects WHERE projects.id=1), 25, 25, 1, 40);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (25, (SELECT projects.end_date - INTERVAL 28 DAY FROM projects WHERE projects.id=1), 1, 25, 25);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (25, '["프리미엄"]', 3, 25, 1, 25);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (26, (SELECT projects.end_date - INTERVAL 42 DAY FROM projects WHERE projects.id=1), 26, 26, 1, 18);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (26, (SELECT projects.end_date - INTERVAL 42 DAY FROM projects WHERE projects.id=1), 1, 26, 26);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (26, '["기본"]', 6, 26, 1, 26);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (27, (SELECT projects.end_date - INTERVAL 18 DAY FROM projects WHERE projects.id=1), 27, 27, 1, 33);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (27, (SELECT projects.end_date - INTERVAL 18 DAY FROM projects WHERE projects.id=1), 1, 27, 27);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (27, '["프리미엄"]', 3, 27, 1, 27);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (28, (SELECT projects.end_date - INTERVAL 29 DAY FROM projects WHERE projects.id=1), 28, 28, 1, 38);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (28, (SELECT projects.end_date - INTERVAL 29 DAY FROM projects WHERE projects.id=1), 1, 28, 28);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (28, '["기본"]', 4, 28, 1, 28);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (29, (SELECT projects.end_date - INTERVAL 11 DAY FROM projects WHERE projects.id=1), 29, 29, 1, 28);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (29, (SELECT projects.end_date - INTERVAL 11 DAY FROM projects WHERE projects.id=1), 1, 29, 29);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (29, '["기본"]', 1, 29, 1, 29);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (30, (SELECT projects.end_date - INTERVAL 24 DAY FROM projects WHERE projects.id=1), 30, 30, 1, 39);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (30, (SELECT projects.end_date - INTERVAL 24 DAY FROM projects WHERE projects.id=1), 1, 30, 30);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (30, '["프리미엄"]', 1, 30, 1, 30);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (31, (SELECT projects.end_date - INTERVAL 7 DAY FROM projects WHERE projects.id=1), 31, 31, 1, 26);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (31, (SELECT projects.end_date - INTERVAL 7 DAY FROM projects WHERE projects.id=1), 1, 31, 31);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (31, '["기본"]', 6, 31, 1, 31);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (32, (SELECT projects.end_date - INTERVAL 43 DAY FROM projects WHERE projects.id=1), 32, 32, 1, 3);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (32, (SELECT projects.end_date - INTERVAL 43 DAY FROM projects WHERE projects.id=1), 1, 32, 32);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (32, '["프리미엄"]', 2, 32, 1, 32);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (33, (SELECT projects.end_date - INTERVAL 30 DAY FROM projects WHERE projects.id=1), 33, 33, 1, 23);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (33, (SELECT projects.end_date - INTERVAL 30 DAY FROM projects WHERE projects.id=1), 1, 33, 33);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (33, '["프리미엄"]', 5, 33, 1, 33);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (34, (SELECT projects.end_date - INTERVAL 21 DAY FROM projects WHERE projects.id=1), 34, 34, 1, 1);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (34, (SELECT projects.end_date - INTERVAL 21 DAY FROM projects WHERE projects.id=1), 1, 34, 34);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (34, '["프리미엄"]', 5, 34, 1, 34);
INSERT INTO supporting_projects(supporting_project_id, supported_at, delivery_id, payment_id, project_id, user_id) VALUES (35, (SELECT projects.end_date - INTERVAL 36 DAY FROM projects WHERE projects.id=1), 35, 35, 1, 10);
INSERT INTO orders (order_id, created_at, delivery_id, payment_id, supporting_project_id) VALUES (35, (SELECT projects.end_date - INTERVAL 36 DAY FROM projects WHERE projects.id=1), 1, 35, 35);
INSERT INTO supporting_packages(id, option_list, package_count, order_id, project_package_id, supporting_project_id) VALUES (35, '["프리미엄"]', 3, 35, 1, 35);

In [8]:
for project_id in approved_id:
    funds_receive = "(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN "+\
                    "(SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN "+\
                    "project_packages pp ON sp.project_package_id = pp.id) as m "+\
                    "ON supporting_projects.supporting_project_id = m.supporting_project_id "+\
                    f"WHERE project_id = {project_id})"
    supporter_cnt = "(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN "+\
                    "(SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN "+\
                    "project_packages pp ON sp.project_package_id = pp.id) as m "+\
                    "ON supporting_projects.supporting_project_id = m.supporting_project_id "+\
                    f"WHERE project_id = {project_id})"
    print(f"UPDATE projects SET funds_receive={funds_receive}, supporter_cnt={supporter_cnt} WHERE id={project_id};")

UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 1), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 1) WHERE id=1;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 3), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 3) WHERE id=3;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 4), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 4) WHERE id=4;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 6), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 6) WHERE id=6;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 7), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 7) WHERE id=7;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 8), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 8) WHERE id=8;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 12), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 12) WHERE id=12;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 14), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 14) WHERE id=14;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 15), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 15) WHERE id=15;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 17), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 17) WHERE id=17;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 19), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 19) WHERE id=19;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 23), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 23) WHERE id=23;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 24), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 24) WHERE id=24;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 25), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 25) WHERE id=25;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 27), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 27) WHERE id=27;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 30), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 30) WHERE id=30;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 31), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 31) WHERE id=31;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 32), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 32) WHERE id=32;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 33), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 33) WHERE id=33;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 35), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 35) WHERE id=35;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 36), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 36) WHERE id=36;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 38), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 38) WHERE id=38;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 39), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 39) WHERE id=39;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 43), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 43) WHERE id=43;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 44), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 44) WHERE id=44;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 45), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 45) WHERE id=45;
UPDATE projects SET funds_receive=(SELECT SUM(m.package_price * m.package_count) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 47), supporter_cnt=(SELECT COUNT(DISTINCT user_id) FROM supporting_projects INNER JOIN (SELECT package_price, package_count, supporting_project_id FROM supporting_packages sp INNER JOIN project_packages pp ON sp.project_package_id = pp.id) as m ON supporting_projects.supporting_project_id = m.supporting_project_id WHERE project_id = 47) WHERE id=47;

In [9]:
for key, value in package_info.items():
    print(f"UPDATE project_packages SET sales_quantity={value} WHERE id={key};")

UPDATE project_packages SET sales_quantity=135 WHERE id=1;
UPDATE project_packages SET sales_quantity=0 WHERE id=2;
UPDATE project_packages SET sales_quantity=84 WHERE id=3;
UPDATE project_packages SET sales_quantity=10 WHERE id=4;
UPDATE project_packages SET sales_quantity=0 WHERE id=5;
UPDATE project_packages SET sales_quantity=54 WHERE id=6;
UPDATE project_packages SET sales_quantity=81 WHERE id=7;
UPDATE project_packages SET sales_quantity=109 WHERE id=8;
UPDATE project_packages SET sales_quantity=0 WHERE id=9;
UPDATE project_packages SET sales_quantity=0 WHERE id=10;
UPDATE project_packages SET sales_quantity=0 WHERE id=11;
UPDATE project_packages SET sales_quantity=93 WHERE id=12;
UPDATE project_packages SET sales_quantity=0 WHERE id=13;
UPDATE project_packages SET sales_quantity=117 WHERE id=14;
UPDATE project_packages SET sales_quantity=4 WHERE id=15;
UPDATE project_packages SET sales_quantity=0 WHERE id=16;
UPDATE project_packages SET sales_quantity=28 WHERE id=17;
UPDATE project_packages SET sales_quantity=0 WHERE id=18;
UPDATE project_packages SET sales_quantity=70 WHERE id=19;
UPDATE project_packages SET sales_quantity=0 WHERE id=20;
UPDATE project_packages SET sales_quantity=0 WHERE id=21;
UPDATE project_packages SET sales_quantity=0 WHERE id=22;
UPDATE project_packages SET sales_quantity=150 WHERE id=23;
UPDATE project_packages SET sales_quantity=15 WHERE id=24;
UPDATE project_packages SET sales_quantity=113 WHERE id=25;
UPDATE project_packages SET sales_quantity=0 WHERE id=26;
UPDATE project_packages SET sales_quantity=43 WHERE id=27;
UPDATE project_packages SET sales_quantity=0 WHERE id=28;
UPDATE project_packages SET sales_quantity=0 WHERE id=29;
UPDATE project_packages SET sales_quantity=25 WHERE id=30;
UPDATE project_packages SET sales_quantity=57 WHERE id=31;
UPDATE project_packages SET sales_quantity=61 WHERE id=32;
UPDATE project_packages SET sales_quantity=21 WHERE id=33;
UPDATE project_packages SET sales_quantity=0 WHERE id=34;
UPDATE project_packages SET sales_quantity=61 WHERE id=35;
UPDATE project_packages SET sales_quantity=2 WHERE id=36;
UPDATE project_packages SET sales_quantity=0 WHERE id=37;
UPDATE project_packages SET sales_quantity=88 WHERE id=38;
UPDATE project_packages SET sales_quantity=47 WHERE id=39;
UPDATE project_packages SET sales_quantity=0 WHERE id=40;
UPDATE project_packages SET sales_quantity=0 WHERE id=41;
UPDATE project_packages SET sales_quantity=0 WHERE id=42;
UPDATE project_packages SET sales_quantity=124 WHERE id=43;
UPDATE project_packages SET sales_quantity=69 WHERE id=44;
UPDATE project_packages SET sales_quantity=15 WHERE id=45;
UPDATE project_packages SET sales_quantity=0 WHERE id=46;
UPDATE project_packages SET sales_quantity=52 WHERE id=47;
UPDATE project_packages SET sales_quantity=68 WHERE id=48;
UPDATE project_packages SET sales_quantity=0 WHERE id=49;
UPDATE project_packages SET sales_quantity=0 WHERE id=50;
UPDATE project_packages SET sales_quantity=78 WHERE id=51;
UPDATE project_packages SET sales_quantity=53 WHERE id=52;
UPDATE project_packages SET sales_quantity=3 WHERE id=53;
UPDATE project_packages SET sales_quantity=7 WHERE id=54;
UPDATE project_packages SET sales_quantity=0 WHERE id=55;
UPDATE project_packages SET sales_quantity=46 WHERE id=56;
UPDATE project_packages SET sales_quantity=19 WHERE id=57;
UPDATE project_packages SET sales_quantity=0 WHERE id=58;
UPDATE project_packages SET sales_quantity=0 WHERE id=59;
UPDATE project_packages SET sales_quantity=114 WHERE id=60;
UPDATE project_packages SET sales_quantity=65 WHERE id=61;
UPDATE project_packages SET sales_quantity=0 WHERE id=62;
UPDATE project_packages SET sales_quantity=0 WHERE id=63;
UPDATE project_packages SET sales_quantity=0 WHERE id=64;
UPDATE project_packages SET sales_quantity=107 WHERE id=65;
UPDATE project_packages SET sales_quantity=0 WHERE id=66;
UPDATE project_packages SET sales_quantity=67 WHERE id=67;
UPDATE project_packages SET sales_quantity=0 WHERE id=68;
UPDATE project_packages SET sales_quantity=48 WHERE id=69;
UPDATE project_packages SET sales_quantity=0 WHERE id=70;

In [10]:
for _ in range(global_id-1):
    print("('kakaoPay', '결제 완료'),")

('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),
('kakaoPay', '결제 완료'),

In [11]:
project_packages = [
    (1, '메이크업 기본 패키지', 5000, 100, 0),
    (2, '피부 관리 완벽 세트', 15000, 30, 0),
    (3, '뷰티 트렌드 인사이더 패키지', 20000, 20, 0),
    (4, '프로 메이크업 아티스트 키트', 25000, 25, 0),
    (5, '헤어스타일 변신 패키지', 12000, 40, 0),
    (6, '스킨케어 풀 패키지', 18000, 35, 0),
    (7, '뷰티 비즈니스 인사이트 패키지', 30000, 15, 0),
    (8, '뷰티 크리에이터 스타터 팩', 22000, 30, 0),
    (9, '글로벌 뷰티 마스터 세트', 28000, 20, 0),
    (10, '셀프 뷰티 프로 패키지', 15000, 50, 0),
    (11, 'K-POP 댄스 마스터 세트', 20000, 30, 0),
    (12, '아이돌 뷰티 시크릿 패키지', 18000, 40, 0),
    (13, 'K-POP 퍼포먼스 완성 패키지', 25000, 25, 0),
    (14, '아이돌 패션 올인원 세트', 22000, 35, 0),
    (15, 'K-POP 역사 탐구 스페셜 에디션', 15000, 50, 0),
    (16, '아이돌 팬미팅 VIP 패키지', 30000, 20, 0),
    (17, 'K-POP 콘텐츠 크리에이터 키트', 28000, 25, 0),
    (18, 'K-POP 뮤지션 체험 패키지', 35000, 15, 0),
    (19, 'K-POP 안무가 도전 세트', 20000, 30, 0),
    (20, '팬아트 아티스트 패키지', 15000, 40, 0),
    (21, 'K-드라마 OST 컬렉터 에디션', 25000, 30, 0),
    (22, '웹툰 작가 데뷔 패키지', 30000, 20, 0),
    (23, 'K-드라마 제작 참여 스페셜 세트', 50000, 10, 0),
    (24, 'K-영화 글로벌 팬 패키지', 20000, 50, 0),
    (25, 'K-드라마 팬 ultimate 경험 세트', 40000, 15, 0),
    (26, '드라마 비하인드 컬렉션 박스', 18000, 40, 0),
    (27, 'K-드라마 팬 굿즈 스페셜 에디션', 15000, 60, 0),
    (28, 'K-드라마 리뷰어 스타터 패키지', 22000, 30, 0),
    (29, 'K-콘텐츠 박람회 VIP 경험 세트', 35000, 20, 0),
    (30, 'K-영화 글로벌 프리미어 패키지', 30000, 25, 0),
    (31, '김치 전문가 패키지', 10000, 0, 0),
    (32, '한식 요리 클래스 패키지', 35000, 0, 0),
    (33, 'K-푸드 체험 패키지', 12000, 0, 0),
    (35, '한식 디저트 패키지', 28000, 0, 0),
    (36, '한식 요리 연구 패키지', 10000, 0, 0),
    (38,'한식 배달 패키지', 10000, 0, 0),
    (39, '한식 셰프 클래스 패키지', 10000, 0, 0),
    (43, '전통 음악 패키지', 35000, 0, 0),
    (44, '문화재 보호 캠페인 패키지', 10000, 0, 0),
    (45,'전통 공예 패키지', 28000, 0, 0),
    (47,'전통 의상 제작 패키지', 10000, 0, 0),
    (48, '전통 음식 복원 패키지', 28000, 0, 0),
    (51, '한복 패션쇼 패키지', 12000, 0, 0),
    (52, 'K-패션 브랜드 패키지', 10000, 0, 0),
    (53,'전통 의상 디자인 패키지', 10000, 0, 0),
    (54, 'K-뷰티 패션 콜라보 패키지', 12000, 0, 0),
    (56, 'K-패션 팝업 패키지', 12000, 0, 0),
    (57,'전통 패션 교육 패키지', 10000, 0, 0),
    (60, '한복 리메이크 패키지', 35000, 0, 0),
    (61, '전통 게임 개발 패키지', 20000, 0, 0),
    (65, 'K-게임 스토리 패키지', 10000, 0, 0),
    (67, 'K-게임 OST 패키지', 10000, 0, 0),
    (69, 'K-게임 컨퍼런스 패키지', 20000, 0, 0),
]

In [12]:
for i in range(len(project_packages)):
    a = (package_info[project_packages[i][0]] + np.random.randint(50, 500))%1000 // 100 * 100 + 100
    b = package_info[project_packages[i][0]]
    print(f"({project_packages[i][0]}, '{project_packages[i][1]}', '{project_packages[i][2]}', {a}, {b}),")

(1, '메이크업 기본 패키지', '5000', 600, 135),
(2, '피부 관리 완벽 세트', '15000', 300, 0),
(3, '뷰티 트렌드 인사이더 패키지', '20000', 600, 84),
(4, '프로 메이크업 아티스트 키트', '25000', 500, 10),
(5, '헤어스타일 변신 패키지', '12000', 400, 0),
(6, '스킨케어 풀 패키지', '18000', 300, 54),
(7, '뷰티 비즈니스 인사이트 패키지', '30000', 600, 81),
(8, '뷰티 크리에이터 스타터 팩', '22000', 400, 109),
(9, '글로벌 뷰티 마스터 세트', '28000', 100, 0),
(10, '셀프 뷰티 프로 패키지', '15000', 300, 0),
(11, 'K-POP 댄스 마스터 세트', '20000', 300, 0),
(12, '아이돌 뷰티 시크릿 패키지', '18000', 500, 93),
(13, 'K-POP 퍼포먼스 완성 패키지', '25000', 200, 0),
(14, '아이돌 패션 올인원 세트', '22000', 700, 117),
(15, 'K-POP 역사 탐구 스페셜 에디션', '15000', 400, 4),
(16, '아이돌 팬미팅 VIP 패키지', '30000', 200, 0),
(17, 'K-POP 콘텐츠 크리에이터 키트', '28000', 200, 28),
(18, 'K-POP 뮤지션 체험 패키지', '35000', 200, 0),
(19, 'K-POP 안무가 도전 세트', '20000', 400, 70),
(20, '팬아트 아티스트 패키지', '15000', 400, 0),
(21, 'K-드라마 OST 컬렉터 에디션', '25000', 500, 0),
(22, '웹툰 작가 데뷔 패키지', '30000', 300, 0),
(23, 'K-드라마 제작 참여 스페셜 세트', '50000', 600, 150),
(24, 'K-영화 글로벌 팬 패키지', '20000', 400, 15),
(25, 'K-드라마 팬 ultimate 경험 세트', '40000', 600, 113),
(26, '드라마 비하인드 컬렉션 박스', '18000', 500, 0),
(27, 'K-드라마 팬 굿즈 스페셜 에디션', '15000', 500, 43),
(28, 'K-드라마 리뷰어 스타터 패키지', '22000', 100, 0),
(29, 'K-콘텐츠 박람회 VIP 경험 세트', '35000', 200, 0),
(30, 'K-영화 글로벌 프리미어 패키지', '30000', 500, 25),
(31, '김치 전문가 패키지', '10000', 500, 57),
(32, '한식 요리 클래스 패키지', '35000', 400, 61),
(33, 'K-푸드 체험 패키지', '12000', 500, 21),
(35, '한식 디저트 패키지', '28000', 500, 61),
(36, '한식 요리 연구 패키지', '10000', 300, 2),
(38, '한식 배달 패키지', '10000', 300, 88),
(39, '한식 셰프 클래스 패키지', '10000', 600, 47),
(43, '전통 음악 패키지', '35000', 600, 124),
(44, '문화재 보호 캠페인 패키지', '10000', 600, 69),
(45, '전통 공예 패키지', '28000', 100, 15),
(47, '전통 의상 제작 패키지', '10000', 500, 52),
(48, '전통 음식 복원 패키지', '28000', 300, 68),
(51, '한복 패션쇼 패키지', '12000', 600, 78),
(52, 'K-패션 브랜드 패키지', '10000', 500, 53),
(53, '전통 의상 디자인 패키지', '10000', 400, 3),
(54, 'K-뷰티 패션 콜라보 패키지', '12000', 200, 7),
(56, 'K-패션 팝업 패키지', '12000', 400, 46),
(57, '전통 패션 교육 패키지', '10000', 300, 19),
(60, '한복 리메이크 패키지', '35000', 300, 114),
(61, '전통 게임 개발 패키지', '20000', 300, 65),
(65, 'K-게임 스토리 패키지', '10000', 300, 107),
(67, 'K-게임 OST 패키지', '10000', 300, 67),
(69, 'K-게임 컨퍼런스 패키지', '20000', 200, 48),

In [13]:
projects = [
    (1, '뷰티', '메이크업의 모든 것', '메이크업 기술을 공유하는 프로젝트입니다.', '최고의 메이크업 비법을 소개합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/1/project1.png', 0, 0, 16, 2, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (2, '뷰티', '피부 관리 비법', '피부 관리법을 소개하는 프로젝트입니다.', '아름다운 피부를 위한 모든 팁.', '2024-10-01 00:00:00', '2024-12-31 23:59:59',
        300000*35, 'files/projects/2/project2.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (3, '뷰티', '뷰티 트렌드 분석', '최신 뷰티 트렌드를 분석하는 프로젝트입니다.', '미래의 뷰티 트렌드를 예상합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 400000*35, 'files/projects/3/project3.png', 0, 0, 40, 5, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (4, '뷰티', '메이크업 도구 혁신', '새로운 메이크업 도구 개발 프로젝트입니다.', '혁신적인 메이크업 도구를 만들어갑니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 450000*35, 'files/projects/4/project4.png', 0, 0, 48, 8, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (5, '뷰티', '헤어스타일링 트렌드', '최신 헤어스타일 트렌드를 소개하는 프로젝트입니다.', '현대적인 헤어스타일링 팁을 공유합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 350000*35, 'files/projects/5/project5.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (6, '뷰티', '스킨케어 제품 개발', '새로운 스킨케어 제품을 개발하는 프로젝트입니다.', '피부를 보호하는 최고의 제품을 만듭니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 600000*35, 'files/projects/6/project6.png', 0, 0, 5, 1, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (7, '뷰티', '뷰티 산업의 미래', '뷰티 산업의 미래를 탐구하는 프로젝트입니다.', '뷰티 산업의 성장 가능성을 조사합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 700000*35, 'files/projects/7/project7.png', 0, 0, 24, 4, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (8, '뷰티', '뷰티 컨텐츠 제작', '뷰티 관련 콘텐츠를 제작하는 프로젝트입니다.', '최고의 뷰티 콘텐츠를 만들어갑니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 400000*35, 'files/projects/8/project8.png', 0, 0, 54, 9, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (9, '뷰티', '글로벌 뷰티 트렌드', '글로벌 뷰티 트렌드를 연구하는 프로젝트입니다.', '세계적인 뷰티 트렌드를 분석합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/9/project9.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (10, '뷰티', '셀프 메이크업 클래스', '셀프 메이크업을 배우는 프로젝트입니다.', '쉽고 간편한 메이크업을 소개합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 200000*35, 'files/projects/10/project10.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (11, 'K-POP', '아이돌 춤 배우기', 'K-POP 아이돌의 춤을 배우는 프로젝트입니다.', '유명 아이돌의 춤을 가르칩니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 400000*35, 'files/projects/11/project11.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (12, 'K-POP', '아이돌 메이크업 스타일', '아이돌처럼 메이크업을 하는 법을 알려드립니다.', 'K-POP 메이크업 비법 공개.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 350000*35, 'files/projects/12/project12.png', 0, 0, 63, 7,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (13, 'K-POP', 'K-POP 댄스 워크샵', '전문가가 가르치는 K-POP 댄스 클래스.', 'K-POP 댄스를 완벽하게 익히세요.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/13/project13.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (14, 'K-POP', '아이돌 스타일 패션', 'K-POP 아이돌 패션 트렌드를 소개합니다.', '최신 패션 트렌드를 배워보세요.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 450000*35, 'files/projects/14/project14.png', 0, 0, 54, 6,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (15, 'K-POP', 'K-POP 역사 탐구', 'K-POP의 역사를 탐구하는 프로젝트입니다.', 'K-POP의 기원을 알아봅니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 300000*35, 'files/projects/15/project15.png', 0, 0, 81, 9,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (16, 'K-POP', '아이돌 팬미팅 이벤트', 'K-POP 아이돌과 팬이 소통하는 팬미팅 프로젝트.', '최고의 팬미팅 경험을 제공합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 600000*35, 'files/projects/16/project16.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (17, 'K-POP', 'K-POP 콘텐츠 제작', 'K-POP 콘텐츠 제작을 위한 프로젝트.', 'K-POP 콘텐츠 제작 노하우를 배워보세요.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/17/project17.png', 0, 0, 35, 7,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (18, 'K-POP', 'K-POP 음반 제작', 'K-POP 음반 제작 과정에 참여하는 프로젝트.', '직접 음반 제작에 참여해보세요.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 700000*35, 'files/projects/18/project18.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (19, 'K-POP', 'K-POP 안무 제작', 'K-POP 안무를 직접 제작하는 프로젝트.', '안무 창작에 도전해보세요.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 550000*35, 'files/projects/19/project19.png', 0, 0, 20, 4,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (20, 'K-POP', '아이돌 팬아트 전시', 'K-POP 아이돌 팬아트를 전시하는 프로젝트.', '팬들의 작품을 전시합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 400000*35, 'files/projects/20/project20.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (21, 'K-콘텐츠', '한국 드라마 OST 제작', '한국 드라마 OST를 제작하는 프로젝트입니다.', '명품 드라마의 OST를 제작합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/21/project21.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (22, 'K-콘텐츠', '한류 웹툰 제작', '한류 웹툰을 제작하는 프로젝트입니다.', '새로운 한류 웹툰 스토리를 제작합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 600000*35, 'files/projects/22/project22.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (23, 'K-콘텐츠', 'K-드라마 제작 지원', '한국 드라마 제작을 지원하는 프로젝트입니다.', 'K-드라마의 제작을 돕습니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 700000*35, 'files/projects/23/project23.png', 0, 0, 30, 5,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (24, 'K-콘텐츠', 'K-영화 프로모션', '한국 영화를 해외에 홍보하는 프로젝트입니다.', '해외에서 한국 영화를 널리 알립니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 400000*35, 'files/projects/24/project24.png', 0, 0, 32, 4,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (25, 'K-콘텐츠', 'K-드라마 팬미팅 개최', '한국 드라마 팬미팅을 개최하는 프로젝트입니다.', '드라마 팬들과 배우가 소통하는 자리를 만듭니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/25/project25.png', 0, 0, 36, 6,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (26, 'K-콘텐츠', 'K-드라마 메이킹 필름 제작', '드라마 제작 현장의 메이킹 필름을 제작하는 프로젝트입니다.', '현장 비하인드 영상을 제작합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 300000*35, 'files/projects/26/project26.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (27, 'K-콘텐츠', 'K-드라마 굿즈 제작', '드라마 굿즈를 제작하는 프로젝트입니다.', '팬들을 위한 굿즈를 만듭니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 250000*35, 'files/projects/27/project27.png', 0, 0, 48, 6,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (28, 'K-콘텐츠', 'K-드라마 리뷰 채널 운영', '한국 드라마를 리뷰하는 유튜브 채널 운영 프로젝트입니다.', '드라마 리뷰를 통해 콘텐츠의 인기를 확산시킵니다.',
        '2024-10-01 00:00:00', '2024-12-31 23:59:59', 450000*35, 'files/projects/28/project28.png', 0, 0, 0, 0,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (29, 'K-콘텐츠', 'K-콘텐츠 박람회 개최', '한국 콘텐츠를 홍보하는 박람회를 개최하는 프로젝트입니다.', 'K-콘텐츠 박람회를 통해 글로벌 팬들과 소통합니다.',
        '2024-10-01 00:00:00', '2024-12-31 23:59:59', 800000*35, 'files/projects/29/project29.png', 0, 0, 0, 0,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (30, 'K-콘텐츠', 'K-영화 해외 상영회 개최', '한국 영화를 해외에서 상영하는 프로젝트입니다.', '해외 상영회를 통해 K-영화를 알립니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 600000*35, 'files/projects/30/project30.png', 0, 0, 7, 1, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (31, '음식', '한국 전통 김치 만들기', '한국 전통 김치를 만드는 프로젝트입니다.', '정통 김치 레시피를 소개합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 200000*35, 'files/projects/31/project31.png', 0, 0, 28, 4,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (32, '음식', '한식 요리 클래스', '한식 요리를 배우는 클래스입니다.', '전통 한식 요리를 배울 수 있습니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 350000*35, 'files/projects/32/project32.png', 0, 0, 30, 5,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (33, '음식', 'K-푸드 박람회', '한국 음식을 해외에 알리는 박람회를 개최하는 프로젝트입니다.', '한국의 다양한 음식을 소개합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/33/project33.png', 0, 0, 18, 3,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (34, '음식', '한국 전통 떡 만들기', '한국 전통 떡을 만드는 프로젝트입니다.', '다양한 떡 레시피를 공유합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 250000*35, 'files/projects/34/project34.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (35, '음식', '한식 디저트 개발', '한식 디저트를 개발하는 프로젝트입니다.', '현대적 감각의 한식 디저트를 선보입니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 450000*35, 'files/projects/35/project35.png', 0, 0, 49, 7,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (36, '음식', '한식 요리법 연구', '전통 한식 요리법을 연구하는 프로젝트입니다.', '전통 요리법을 현대적으로 해석합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 300000*35, 'files/projects/36/project36.png', 0, 0, 40, 5,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (37, '음식', '한국 전통 음료 개발', '전통 음료를 현대적으로 재해석하는 프로젝트입니다.', '전통 음료의 새로운 맛을 찾아냅니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 400000*35, 'files/projects/37/project37.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (38, '음식', '한식 배달 서비스 런칭', '한식을 전문으로 하는 배달 서비스를 런칭하는 프로젝트입니다.', '한식의 맛을 편하게 즐길 수 있습니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 600000*35, 'files/projects/38/project38.png', 0, 0, 56, 8,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (39, '음식', '한식 셰프 클래스', '한식 셰프가 가르치는 요리 클래스를 여는 프로젝트입니다.', '한식의 깊은 맛을 배울 수 있습니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 550000*35, 'files/projects/39/project39.png', 0, 0, 15, 3,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (40, '음식', '한식 조리 도구 개발', '전통 한식 조리 도구를 개발하는 프로젝트입니다.', '효율적인 조리 도구를 선보입니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 450000*35, 'files/projects/40/project40.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (1, '문화재', '전통 한옥 복원 프로젝트', '전통 한옥을 복원하는 프로젝트입니다.', '한국의 전통 건축을 보존합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 800000*35, 'files/projects/41/project41.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (2, '문화재', '문화재 교육 프로그램', '한국 문화재를 알리는 교육 프로그램입니다.', '어린이와 청소년을 대상으로 합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 400000*35, 'files/projects/42/project42.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (3, '문화재', '전통 음악 앨범 제작', '전통 음악 앨범을 제작하는 프로젝트입니다.', '전통 음악을 현대적으로 재해석합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 300000*35, 'files/projects/43/project43.png', 0, 0, 18, 3,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (4, '문화재', '문화재 보호 캠페인', '문화재 보호를 위한 캠페인을 진행합니다.', '문화재의 소중함을 알립니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 250000*35, 'files/projects/44/project44.png', 0, 0, 25, 5,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (5, '문화재', '한국 전통 공예 전시회', '전통 공예 작품을 전시하는 프로젝트입니다.', '전통 공예의 아름다움을 알립니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/45/project45.png', 0, 0, 20, 4,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (6, '문화재', '문화재 VR 체험', '문화재를 VR로 체험할 수 있는 프로젝트입니다.', '가상 현실을 통해 문화재를 관람합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 700000*35, 'files/projects/46/project46.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (7, '문화재', '전통 의상 제작 클래스', '전통 의상을 배우는 클래스입니다.', '전통 의상의 매력을 느껴보세요.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 300000*35, 'files/projects/47/project47.png', 0, 0, 24, 4,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (8, '문화재', '전통 음식 복원 프로젝트', '사라져가는 전통 음식을 복원하는 프로젝트입니다.', '전통 음식을 현대적으로 재해석합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 450000*35, 'files/projects/48/project48.png', 0, 0, 54, 6,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (9, '문화재', '한국 문화유산 다큐멘터리 제작', '한국 문화유산을 다큐멘터리로 제작합니다.', '우리 문화를 영상으로 남깁니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 600000*35, 'files/projects/49/project49.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (10, '문화재', '문화재 수호자 양성 프로그램', '문화재를 보호하는 인재를 양성하는 프로그램입니다.', '문화재 보호의 중요성을 가르칩니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 350000*35, 'files/projects/50/project50.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (11, '패션', '한복 패션쇼 개최', '전통 한복 패션쇼를 개최하는 프로젝트입니다.', '한복의 아름다움을 선보입니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 700000*35, 'files/projects/51/project51.png', 0, 0, 40, 8,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (12, '패션', 'K-패션 브랜드 런칭', 'K-패션 브랜드를 런칭하는 프로젝트입니다.', '한국 패션을 세계에 알립니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 800000*35, 'files/projects/52/project52.png', 0, 0, 72, 9,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (13, '패션', '전통 의상 디자인 공모전', '전통 의상을 주제로 한 디자인 공모전입니다.', '젊은 디자이너의 창의력을 발휘합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 300000*35, 'files/projects/53/project53.png', 0, 0, 24, 4,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (14, '패션', 'K-뷰티와 패션 콜라보', 'K-뷰티와 패션의 콜라보 프로젝트입니다.', '뷰티와 패션의 경계를 허물어 봅니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 450000*35, 'files/projects/54/project54.png', 0, 0, 21, 3,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (15, '패션', '지속 가능한 패션 캠페인', '지속 가능한 패션을 알리는 캠페인입니다.', '환경을 고려한 패션을 제안합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 600000*35, 'files/projects/55/project55.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (16, '패션', 'K-패션 팝업 스토어', 'K-패션 팝업 스토어를 여는 프로젝트입니다.', '한정된 시간 동안 특별한 패션 아이템을 선보입니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 400000*35, 'files/projects/56/project56.png', 0, 0, 25, 5,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (17, '패션', '전통 패션 교육 클래스', '전통 패션을 배우는 클래스를 개최합니다.', '전통 패션의 매력을 느껴보세요.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 350000*35, 'files/projects/57/project57.png', 0, 0, 7, 1, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (18, '패션', 'K-패션 전시회', 'K-패션 전시회를 개최하는 프로젝트입니다.', '한국 패션의 다양한 모습을 보여줍니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/58/project58.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (19, '패션', '패션 인플루언서 프로젝트', '패션 인플루언서와 협업하는 프로젝트입니다.', '신진 디자이너와 인플루언서의 만남입니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 450000*35, 'files/projects/59/project59.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (20, '패션', '한복 리메이크 프로젝트', '전통 한복을 현대적으로 리메이크하는 프로젝트입니다.', '새로운 스타일의 한복을 만들어봅니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 300000*35, 'files/projects/60/project60.png', 0, 0, 45, 9,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (21, '게임', '한국 전통 게임 개발', '한국 전통 게임을 개발하는 프로젝트입니다.', '전통 게임을 현대적으로 재해석합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/61/project61.png', 0, 0, 42, 7,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (22, '게임', 'K-게임 대회 개최', 'K-게임 대회를 개최하는 프로젝트입니다.', '국내외 게이머가 함께하는 대회입니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 600000*35, 'files/projects/62/project62.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (23, '게임', '전통 게임 VR 체험', '전통 게임을 VR로 체험할 수 있는 프로젝트입니다.', '가상 현실에서 전통 게임을 즐깁니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 700000*35, 'files/projects/63/project63.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (24, '게임', 'K-게임 캐릭터 디자인 공모전', 'K-게임 캐릭터 디자인 공모전을 개최합니다.', '창의적인 캐릭터를 모집합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 300000*35, 'files/projects/64/project64.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (25, '게임', 'K-게임 스토리 공모전', 'K-게임 스토리 공모전을 개최합니다.', '재미있는 스토리를 모집합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 250000*35, 'files/projects/65/project65.png', 0, 0, 36, 6,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (26, '게임', 'K-게임 팝업 스토어', 'K-게임 관련 팝업 스토어를 여는 프로젝트입니다.', '게임 관련 상품을 선보입니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 400000*35, 'files/projects/66/project66.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (27, '게임', 'K-게임 OST 앨범 제작', 'K-게임 OST 앨범을 제작하는 프로젝트입니다.', '게임의 감동을 음악으로 표현합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 500000*35, 'files/projects/67/project67.png', 0, 0, 25, 5,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (28, '게임', 'K-게임 커뮤니티 구축', 'K-게임 팬 커뮤니티를 구축하는 프로젝트입니다.', '팬들과 소통하는 공간을 만듭니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 350000*35, 'files/projects/68/project68.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY'),
       (29, '게임', 'K-게임 컨퍼런스 개최', 'K-게임 컨퍼런스를 개최하는 프로젝트입니다.', '게임 관련 정보를 공유합니다.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 600000*35, 'files/projects/69/project69.png', 0, 0, 10, 2,
        'NOW() - INTERVAL RAND() * 30 DAY', 'NOW() - INTERVAL RAND() * 10 DAY'),
       (30, '게임', '전통 게임 교육 클래스', '전통 게임을 배우는 클래스를 개최합니다.', '전통 게임의 매력을 느껴보세요.', '2024-10-01 00:00:00',
        '2024-12-31 23:59:59', 250000*35, 'files/projects/70/project70.png', 0, 0, 0, 0, 'NOW() - INTERVAL RAND() * 30 DAY',
        'NOW() - INTERVAL RAND() * 10 DAY')
]

In [14]:
import datetime
import numpy as np

for p in projects:
    if (np.random.random() < 0.25):
        month = 8
    if (np.random.random() > 0.75):
        month = 9
    day = np.random.randint(1, 30)
    start_date = str(datetime.datetime(2024, month, day))
    end_date = str(datetime.datetime(2024, month+2, day))
    create_at = start_date
    submit_at = start_date
    print(f"({p[0]}, '{p[1]}', '{p[2]}', '{p[3]}', '{p[4]}', '{start_date}', '{end_date}', {p[7]}, '{p[8]}', {p[9]}, {p[10]}, {p[11]}, {p[12]}, '{create_at}', '{submit_at}'),")

(1, '뷰티', '메이크업의 모든 것', '메이크업 기술을 공유하는 프로젝트입니다.', '최고의 메이크업 비법을 소개합니다.', '2024-08-27 00:00:00', '2024-10-27 00:00:00', 17500000, 'files/projects/1/project1.png', 0, 0, 16, 2, '2024-08-27 00:00:00', '2024-08-27 00:00:00'),
(2, '뷰티', '피부 관리 비법', '피부 관리법을 소개하는 프로젝트입니다.', '아름다운 피부를 위한 모든 팁.', '2024-08-09 00:00:00', '2024-10-09 00:00:00', 10500000, 'files/projects/2/project2.png', 0, 0, 0, 0, '2024-08-09 00:00:00', '2024-08-09 00:00:00'),
(3, '뷰티', '뷰티 트렌드 분석', '최신 뷰티 트렌드를 분석하는 프로젝트입니다.', '미래의 뷰티 트렌드를 예상합니다.', '2024-09-12 00:00:00', '2024-11-12 00:00:00', 14000000, 'files/projects/3/project3.png', 0, 0, 40, 5, '2024-09-12 00:00:00', '2024-09-12 00:00:00'),
(4, '뷰티', '메이크업 도구 혁신', '새로운 메이크업 도구 개발 프로젝트입니다.', '혁신적인 메이크업 도구를 만들어갑니다.', '2024-09-17 00:00:00', '2024-11-17 00:00:00', 15750000, 'files/projects/4/project4.png', 0, 0, 48, 8, '2024-09-17 00:00:00', '2024-09-17 00:00:00'),
(5, '뷰티', '헤어스타일링 트렌드', '최신 헤어스타일 트렌드를 소개하는 프로젝트입니다.', '현대적인 헤어스타일링 팁을 공유합니다.', '2024-09-01 00:00:00', '2024-11-01 00:00:00', 12250000, 'files/projects/5/project5.png', 0, 0, 0, 0, '2024-09-01 00:00:00', '2024-09-01 00:00:00'),
(6, '뷰티', '스킨케어 제품 개발', '새로운 스킨케어 제품을 개발하는 프로젝트입니다.', '피부를 보호하는 최고의 제품을 만듭니다.', '2024-09-24 00:00:00', '2024-11-24 00:00:00', 21000000, 'files/projects/6/project6.png', 0, 0, 5, 1, '2024-09-24 00:00:00', '2024-09-24 00:00:00'),
(7, '뷰티', '뷰티 산업의 미래', '뷰티 산업의 미래를 탐구하는 프로젝트입니다.', '뷰티 산업의 성장 가능성을 조사합니다.', '2024-09-10 00:00:00', '2024-11-10 00:00:00', 24500000, 'files/projects/7/project7.png', 0, 0, 24, 4, '2024-09-10 00:00:00', '2024-09-10 00:00:00'),
(8, '뷰티', '뷰티 컨텐츠 제작', '뷰티 관련 콘텐츠를 제작하는 프로젝트입니다.', '최고의 뷰티 콘텐츠를 만들어갑니다.', '2024-09-11 00:00:00', '2024-11-11 00:00:00', 14000000, 'files/projects/8/project8.png', 0, 0, 54, 9, '2024-09-11 00:00:00', '2024-09-11 00:00:00'),
(9, '뷰티', '글로벌 뷰티 트렌드', '글로벌 뷰티 트렌드를 연구하는 프로젝트입니다.', '세계적인 뷰티 트렌드를 분석합니다.', '2024-09-16 00:00:00', '2024-11-16 00:00:00', 17500000, 'files/projects/9/project9.png', 0, 0, 0, 0, '2024-09-16 00:00:00', '2024-09-16 00:00:00'),
(10, '뷰티', '셀프 메이크업 클래스', '셀프 메이크업을 배우는 프로젝트입니다.', '쉽고 간편한 메이크업을 소개합니다.', '2024-09-13 00:00:00', '2024-11-13 00:00:00', 7000000, 'files/projects/10/project10.png', 0, 0, 0, 0, '2024-09-13 00:00:00', '2024-09-13 00:00:00'),
(11, 'K-POP', '아이돌 춤 배우기', 'K-POP 아이돌의 춤을 배우는 프로젝트입니다.', '유명 아이돌의 춤을 가르칩니다.', '2024-09-03 00:00:00', '2024-11-03 00:00:00', 14000000, 'files/projects/11/project11.png', 0, 0, 0, 0, '2024-09-03 00:00:00', '2024-09-03 00:00:00'),
(12, 'K-POP', '아이돌 메이크업 스타일', '아이돌처럼 메이크업을 하는 법을 알려드립니다.', 'K-POP 메이크업 비법 공개.', '2024-09-12 00:00:00', '2024-11-12 00:00:00', 12250000, 'files/projects/12/project12.png', 0, 0, 63, 7, '2024-09-12 00:00:00', '2024-09-12 00:00:00'),
(13, 'K-POP', 'K-POP 댄스 워크샵', '전문가가 가르치는 K-POP 댄스 클래스.', 'K-POP 댄스를 완벽하게 익히세요.', '2024-08-20 00:00:00', '2024-10-20 00:00:00', 17500000, 'files/projects/13/project13.png', 0, 0, 0, 0, '2024-08-20 00:00:00', '2024-08-20 00:00:00'),
(14, 'K-POP', '아이돌 스타일 패션', 'K-POP 아이돌 패션 트렌드를 소개합니다.', '최신 패션 트렌드를 배워보세요.', '2024-09-26 00:00:00', '2024-11-26 00:00:00', 15750000, 'files/projects/14/project14.png', 0, 0, 54, 6, '2024-09-26 00:00:00', '2024-09-26 00:00:00'),
(15, 'K-POP', 'K-POP 역사 탐구', 'K-POP의 역사를 탐구하는 프로젝트입니다.', 'K-POP의 기원을 알아봅니다.', '2024-08-11 00:00:00', '2024-10-11 00:00:00', 10500000, 'files/projects/15/project15.png', 0, 0, 81, 9, '2024-08-11 00:00:00', '2024-08-11 00:00:00'),
(16, 'K-POP', '아이돌 팬미팅 이벤트', 'K-POP 아이돌과 팬이 소통하는 팬미팅 프로젝트.', '최고의 팬미팅 경험을 제공합니다.', '2024-09-14 00:00:00', '2024-11-14 00:00:00', 21000000, 'files/projects/16/project16.png', 0, 0, 0, 0, '2024-09-14 00:00:00', '2024-09-14 00:00:00'),
(17, 'K-POP', 'K-POP 콘텐츠 제작', 'K-POP 콘텐츠 제작을 위한 프로젝트.', 'K-POP 콘텐츠 제작 노하우를 배워보세요.', '2024-09-14 00:00:00', '2024-11-14 00:00:00', 17500000, 'files/projects/17/project17.png', 0, 0, 35, 7, '2024-09-14 00:00:00', '2024-09-14 00:00:00'),
(18, 'K-POP', 'K-POP 음반 제작', 'K-POP 음반 제작 과정에 참여하는 프로젝트.', '직접 음반 제작에 참여해보세요.', '2024-09-18 00:00:00', '2024-11-18 00:00:00', 24500000, 'files/projects/18/project18.png', 0, 0, 0, 0, '2024-09-18 00:00:00', '2024-09-18 00:00:00'),
(19, 'K-POP', 'K-POP 안무 제작', 'K-POP 안무를 직접 제작하는 프로젝트.', '안무 창작에 도전해보세요.', '2024-09-25 00:00:00', '2024-11-25 00:00:00', 19250000, 'files/projects/19/project19.png', 0, 0, 20, 4, '2024-09-25 00:00:00', '2024-09-25 00:00:00'),
(20, 'K-POP', '아이돌 팬아트 전시', 'K-POP 아이돌 팬아트를 전시하는 프로젝트.', '팬들의 작품을 전시합니다.', '2024-09-15 00:00:00', '2024-11-15 00:00:00', 14000000, 'files/projects/20/project20.png', 0, 0, 0, 0, '2024-09-15 00:00:00', '2024-09-15 00:00:00'),
(21, 'K-콘텐츠', '한국 드라마 OST 제작', '한국 드라마 OST를 제작하는 프로젝트입니다.', '명품 드라마의 OST를 제작합니다.', '2024-08-08 00:00:00', '2024-10-08 00:00:00', 17500000, 'files/projects/21/project21.png', 0, 0, 0, 0, '2024-08-08 00:00:00', '2024-08-08 00:00:00'),
(22, 'K-콘텐츠', '한류 웹툰 제작', '한류 웹툰을 제작하는 프로젝트입니다.', '새로운 한류 웹툰 스토리를 제작합니다.', '2024-08-29 00:00:00', '2024-10-29 00:00:00', 21000000, 'files/projects/22/project22.png', 0, 0, 0, 0, '2024-08-29 00:00:00', '2024-08-29 00:00:00'),
(23, 'K-콘텐츠', 'K-드라마 제작 지원', '한국 드라마 제작을 지원하는 프로젝트입니다.', 'K-드라마의 제작을 돕습니다.', '2024-08-06 00:00:00', '2024-10-06 00:00:00', 24500000, 'files/projects/23/project23.png', 0, 0, 30, 5, '2024-08-06 00:00:00', '2024-08-06 00:00:00'),
(24, 'K-콘텐츠', 'K-영화 프로모션', '한국 영화를 해외에 홍보하는 프로젝트입니다.', '해외에서 한국 영화를 널리 알립니다.', '2024-08-12 00:00:00', '2024-10-12 00:00:00', 14000000, 'files/projects/24/project24.png', 0, 0, 32, 4, '2024-08-12 00:00:00', '2024-08-12 00:00:00'),
(25, 'K-콘텐츠', 'K-드라마 팬미팅 개최', '한국 드라마 팬미팅을 개최하는 프로젝트입니다.', '드라마 팬들과 배우가 소통하는 자리를 만듭니다.', '2024-08-20 00:00:00', '2024-10-20 00:00:00', 17500000, 'files/projects/25/project25.png', 0, 0, 36, 6, '2024-08-20 00:00:00', '2024-08-20 00:00:00'),
(26, 'K-콘텐츠', 'K-드라마 메이킹 필름 제작', '드라마 제작 현장의 메이킹 필름을 제작하는 프로젝트입니다.', '현장 비하인드 영상을 제작합니다.', '2024-09-12 00:00:00', '2024-11-12 00:00:00', 10500000, 'files/projects/26/project26.png', 0, 0, 0, 0, '2024-09-12 00:00:00', '2024-09-12 00:00:00'),
(27, 'K-콘텐츠', 'K-드라마 굿즈 제작', '드라마 굿즈를 제작하는 프로젝트입니다.', '팬들을 위한 굿즈를 만듭니다.', '2024-09-14 00:00:00', '2024-11-14 00:00:00', 8750000, 'files/projects/27/project27.png', 0, 0, 48, 6, '2024-09-14 00:00:00', '2024-09-14 00:00:00'),
(28, 'K-콘텐츠', 'K-드라마 리뷰 채널 운영', '한국 드라마를 리뷰하는 유튜브 채널 운영 프로젝트입니다.', '드라마 리뷰를 통해 콘텐츠의 인기를 확산시킵니다.', '2024-09-18 00:00:00', '2024-11-18 00:00:00', 15750000, 'files/projects/28/project28.png', 0, 0, 0, 0, '2024-09-18 00:00:00', '2024-09-18 00:00:00'),
(29, 'K-콘텐츠', 'K-콘텐츠 박람회 개최', '한국 콘텐츠를 홍보하는 박람회를 개최하는 프로젝트입니다.', 'K-콘텐츠 박람회를 통해 글로벌 팬들과 소통합니다.', '2024-09-28 00:00:00', '2024-11-28 00:00:00', 28000000, 'files/projects/29/project29.png', 0, 0, 0, 0, '2024-09-28 00:00:00', '2024-09-28 00:00:00'),
(30, 'K-콘텐츠', 'K-영화 해외 상영회 개최', '한국 영화를 해외에서 상영하는 프로젝트입니다.', '해외 상영회를 통해 K-영화를 알립니다.', '2024-08-25 00:00:00', '2024-10-25 00:00:00', 21000000, 'files/projects/30/project30.png', 0, 0, 7, 1, '2024-08-25 00:00:00', '2024-08-25 00:00:00'),
(31, '음식', '한국 전통 김치 만들기', '한국 전통 김치를 만드는 프로젝트입니다.', '정통 김치 레시피를 소개합니다.', '2024-08-01 00:00:00', '2024-10-01 00:00:00', 7000000, 'files/projects/31/project31.png', 0, 0, 28, 4, '2024-08-01 00:00:00', '2024-08-01 00:00:00'),
(32, '음식', '한식 요리 클래스', '한식 요리를 배우는 클래스입니다.', '전통 한식 요리를 배울 수 있습니다.', '2024-08-26 00:00:00', '2024-10-26 00:00:00', 12250000, 'files/projects/32/project32.png', 0, 0, 30, 5, '2024-08-26 00:00:00', '2024-08-26 00:00:00'),
(33, '음식', 'K-푸드 박람회', '한국 음식을 해외에 알리는 박람회를 개최하는 프로젝트입니다.', '한국의 다양한 음식을 소개합니다.', '2024-08-13 00:00:00', '2024-10-13 00:00:00', 17500000, 'files/projects/33/project33.png', 0, 0, 18, 3, '2024-08-13 00:00:00', '2024-08-13 00:00:00'),
(34, '음식', '한국 전통 떡 만들기', '한국 전통 떡을 만드는 프로젝트입니다.', '다양한 떡 레시피를 공유합니다.', '2024-08-07 00:00:00', '2024-10-07 00:00:00', 8750000, 'files/projects/34/project34.png', 0, 0, 0, 0, '2024-08-07 00:00:00', '2024-08-07 00:00:00'),
(35, '음식', '한식 디저트 개발', '한식 디저트를 개발하는 프로젝트입니다.', '현대적 감각의 한식 디저트를 선보입니다.', '2024-08-05 00:00:00', '2024-10-05 00:00:00', 15750000, 'files/projects/35/project35.png', 0, 0, 49, 7, '2024-08-05 00:00:00', '2024-08-05 00:00:00'),
(36, '음식', '한식 요리법 연구', '전통 한식 요리법을 연구하는 프로젝트입니다.', '전통 요리법을 현대적으로 해석합니다.', '2024-09-07 00:00:00', '2024-11-07 00:00:00', 10500000, 'files/projects/36/project36.png', 0, 0, 40, 5, '2024-09-07 00:00:00', '2024-09-07 00:00:00'),
(37, '음식', '한국 전통 음료 개발', '전통 음료를 현대적으로 재해석하는 프로젝트입니다.', '전통 음료의 새로운 맛을 찾아냅니다.', '2024-09-11 00:00:00', '2024-11-11 00:00:00', 14000000, 'files/projects/37/project37.png', 0, 0, 0, 0, '2024-09-11 00:00:00', '2024-09-11 00:00:00'),
(38, '음식', '한식 배달 서비스 런칭', '한식을 전문으로 하는 배달 서비스를 런칭하는 프로젝트입니다.', '한식의 맛을 편하게 즐길 수 있습니다.', '2024-09-05 00:00:00', '2024-11-05 00:00:00', 21000000, 'files/projects/38/project38.png', 0, 0, 56, 8, '2024-09-05 00:00:00', '2024-09-05 00:00:00'),
(39, '음식', '한식 셰프 클래스', '한식 셰프가 가르치는 요리 클래스를 여는 프로젝트입니다.', '한식의 깊은 맛을 배울 수 있습니다.', '2024-09-12 00:00:00', '2024-11-12 00:00:00', 19250000, 'files/projects/39/project39.png', 0, 0, 15, 3, '2024-09-12 00:00:00', '2024-09-12 00:00:00'),
(40, '음식', '한식 조리 도구 개발', '전통 한식 조리 도구를 개발하는 프로젝트입니다.', '효율적인 조리 도구를 선보입니다.', '2024-08-05 00:00:00', '2024-10-05 00:00:00', 15750000, 'files/projects/40/project40.png', 0, 0, 0, 0, '2024-08-05 00:00:00', '2024-08-05 00:00:00'),
(1, '문화재', '전통 한옥 복원 프로젝트', '전통 한옥을 복원하는 프로젝트입니다.', '한국의 전통 건축을 보존합니다.', '2024-08-08 00:00:00', '2024-10-08 00:00:00', 28000000, 'files/projects/41/project41.png', 0, 0, 0, 0, '2024-08-08 00:00:00', '2024-08-08 00:00:00'),
(2, '문화재', '문화재 교육 프로그램', '한국 문화재를 알리는 교육 프로그램입니다.', '어린이와 청소년을 대상으로 합니다.', '2024-08-02 00:00:00', '2024-10-02 00:00:00', 14000000, 'files/projects/42/project42.png', 0, 0, 0, 0, '2024-08-02 00:00:00', '2024-08-02 00:00:00'),
(3, '문화재', '전통 음악 앨범 제작', '전통 음악 앨범을 제작하는 프로젝트입니다.', '전통 음악을 현대적으로 재해석합니다.', '2024-08-26 00:00:00', '2024-10-26 00:00:00', 10500000, 'files/projects/43/project43.png', 0, 0, 18, 3, '2024-08-26 00:00:00', '2024-08-26 00:00:00'),
(4, '문화재', '문화재 보호 캠페인', '문화재 보호를 위한 캠페인을 진행합니다.', '문화재의 소중함을 알립니다.', '2024-08-22 00:00:00', '2024-10-22 00:00:00', 8750000, 'files/projects/44/project44.png', 0, 0, 25, 5, '2024-08-22 00:00:00', '2024-08-22 00:00:00'),
(5, '문화재', '한국 전통 공예 전시회', '전통 공예 작품을 전시하는 프로젝트입니다.', '전통 공예의 아름다움을 알립니다.', '2024-08-06 00:00:00', '2024-10-06 00:00:00', 17500000, 'files/projects/45/project45.png', 0, 0, 20, 4, '2024-08-06 00:00:00', '2024-08-06 00:00:00'),
(6, '문화재', '문화재 VR 체험', '문화재를 VR로 체험할 수 있는 프로젝트입니다.', '가상 현실을 통해 문화재를 관람합니다.', '2024-08-25 00:00:00', '2024-10-25 00:00:00', 24500000, 'files/projects/46/project46.png', 0, 0, 0, 0, '2024-08-25 00:00:00', '2024-08-25 00:00:00'),
(7, '문화재', '전통 의상 제작 클래스', '전통 의상을 배우는 클래스입니다.', '전통 의상의 매력을 느껴보세요.', '2024-08-07 00:00:00', '2024-10-07 00:00:00', 10500000, 'files/projects/47/project47.png', 0, 0, 24, 4, '2024-08-07 00:00:00', '2024-08-07 00:00:00'),
(8, '문화재', '전통 음식 복원 프로젝트', '사라져가는 전통 음식을 복원하는 프로젝트입니다.', '전통 음식을 현대적으로 재해석합니다.', '2024-08-07 00:00:00', '2024-10-07 00:00:00', 15750000, 'files/projects/48/project48.png', 0, 0, 54, 6, '2024-08-07 00:00:00', '2024-08-07 00:00:00'),
(9, '문화재', '한국 문화유산 다큐멘터리 제작', '한국 문화유산을 다큐멘터리로 제작합니다.', '우리 문화를 영상으로 남깁니다.', '2024-09-18 00:00:00', '2024-11-18 00:00:00', 21000000, 'files/projects/49/project49.png', 0, 0, 0, 0, '2024-09-18 00:00:00', '2024-09-18 00:00:00'),
(10, '문화재', '문화재 수호자 양성 프로그램', '문화재를 보호하는 인재를 양성하는 프로그램입니다.', '문화재 보호의 중요성을 가르칩니다.', '2024-09-21 00:00:00', '2024-11-21 00:00:00', 12250000, 'files/projects/50/project50.png', 0, 0, 0, 0, '2024-09-21 00:00:00', '2024-09-21 00:00:00'),
(11, '패션', '한복 패션쇼 개최', '전통 한복 패션쇼를 개최하는 프로젝트입니다.', '한복의 아름다움을 선보입니다.', '2024-08-27 00:00:00', '2024-10-27 00:00:00', 24500000, 'files/projects/51/project51.png', 0, 0, 40, 8, '2024-08-27 00:00:00', '2024-08-27 00:00:00'),
(12, '패션', 'K-패션 브랜드 런칭', 'K-패션 브랜드를 런칭하는 프로젝트입니다.', '한국 패션을 세계에 알립니다.', '2024-08-12 00:00:00', '2024-10-12 00:00:00', 28000000, 'files/projects/52/project52.png', 0, 0, 72, 9, '2024-08-12 00:00:00', '2024-08-12 00:00:00'),
(13, '패션', '전통 의상 디자인 공모전', '전통 의상을 주제로 한 디자인 공모전입니다.', '젊은 디자이너의 창의력을 발휘합니다.', '2024-08-21 00:00:00', '2024-10-21 00:00:00', 10500000, 'files/projects/53/project53.png', 0, 0, 24, 4, '2024-08-21 00:00:00', '2024-08-21 00:00:00'),
(14, '패션', 'K-뷰티와 패션 콜라보', 'K-뷰티와 패션의 콜라보 프로젝트입니다.', '뷰티와 패션의 경계를 허물어 봅니다.', '2024-08-02 00:00:00', '2024-10-02 00:00:00', 15750000, 'files/projects/54/project54.png', 0, 0, 21, 3, '2024-08-02 00:00:00', '2024-08-02 00:00:00'),
(15, '패션', '지속 가능한 패션 캠페인', '지속 가능한 패션을 알리는 캠페인입니다.', '환경을 고려한 패션을 제안합니다.', '2024-08-05 00:00:00', '2024-10-05 00:00:00', 21000000, 'files/projects/55/project55.png', 0, 0, 0, 0, '2024-08-05 00:00:00', '2024-08-05 00:00:00'),
(16, '패션', 'K-패션 팝업 스토어', 'K-패션 팝업 스토어를 여는 프로젝트입니다.', '한정된 시간 동안 특별한 패션 아이템을 선보입니다.', '2024-08-14 00:00:00', '2024-10-14 00:00:00', 14000000, 'files/projects/56/project56.png', 0, 0, 25, 5, '2024-08-14 00:00:00', '2024-08-14 00:00:00'),
(17, '패션', '전통 패션 교육 클래스', '전통 패션을 배우는 클래스를 개최합니다.', '전통 패션의 매력을 느껴보세요.', '2024-08-02 00:00:00', '2024-10-02 00:00:00', 12250000, 'files/projects/57/project57.png', 0, 0, 7, 1, '2024-08-02 00:00:00', '2024-08-02 00:00:00'),
(18, '패션', 'K-패션 전시회', 'K-패션 전시회를 개최하는 프로젝트입니다.', '한국 패션의 다양한 모습을 보여줍니다.', '2024-08-18 00:00:00', '2024-10-18 00:00:00', 17500000, 'files/projects/58/project58.png', 0, 0, 0, 0, '2024-08-18 00:00:00', '2024-08-18 00:00:00'),
(19, '패션', '패션 인플루언서 프로젝트', '패션 인플루언서와 협업하는 프로젝트입니다.', '신진 디자이너와 인플루언서의 만남입니다.', '2024-08-18 00:00:00', '2024-10-18 00:00:00', 15750000, 'files/projects/59/project59.png', 0, 0, 0, 0, '2024-08-18 00:00:00', '2024-08-18 00:00:00'),
(20, '패션', '한복 리메이크 프로젝트', '전통 한복을 현대적으로 리메이크하는 프로젝트입니다.', '새로운 스타일의 한복을 만들어봅니다.', '2024-08-18 00:00:00', '2024-10-18 00:00:00', 10500000, 'files/projects/60/project60.png', 0, 0, 45, 9, '2024-08-18 00:00:00', '2024-08-18 00:00:00'),
(21, '게임', '한국 전통 게임 개발', '한국 전통 게임을 개발하는 프로젝트입니다.', '전통 게임을 현대적으로 재해석합니다.', '2024-08-08 00:00:00', '2024-10-08 00:00:00', 17500000, 'files/projects/61/project61.png', 0, 0, 42, 7, '2024-08-08 00:00:00', '2024-08-08 00:00:00'),
(22, '게임', 'K-게임 대회 개최', 'K-게임 대회를 개최하는 프로젝트입니다.', '국내외 게이머가 함께하는 대회입니다.', '2024-08-04 00:00:00', '2024-10-04 00:00:00', 21000000, 'files/projects/62/project62.png', 0, 0, 0, 0, '2024-08-04 00:00:00', '2024-08-04 00:00:00'),
(23, '게임', '전통 게임 VR 체험', '전통 게임을 VR로 체험할 수 있는 프로젝트입니다.', '가상 현실에서 전통 게임을 즐깁니다.', '2024-08-24 00:00:00', '2024-10-24 00:00:00', 24500000, 'files/projects/63/project63.png', 0, 0, 0, 0, '2024-08-24 00:00:00', '2024-08-24 00:00:00'),
(24, '게임', 'K-게임 캐릭터 디자인 공모전', 'K-게임 캐릭터 디자인 공모전을 개최합니다.', '창의적인 캐릭터를 모집합니다.', '2024-08-12 00:00:00', '2024-10-12 00:00:00', 10500000, 'files/projects/64/project64.png', 0, 0, 0, 0, '2024-08-12 00:00:00', '2024-08-12 00:00:00'),
(25, '게임', 'K-게임 스토리 공모전', 'K-게임 스토리 공모전을 개최합니다.', '재미있는 스토리를 모집합니다.', '2024-08-14 00:00:00', '2024-10-14 00:00:00', 8750000, 'files/projects/65/project65.png', 0, 0, 36, 6, '2024-08-14 00:00:00', '2024-08-14 00:00:00'),
(26, '게임', 'K-게임 팝업 스토어', 'K-게임 관련 팝업 스토어를 여는 프로젝트입니다.', '게임 관련 상품을 선보입니다.', '2024-09-02 00:00:00', '2024-11-02 00:00:00', 14000000, 'files/projects/66/project66.png', 0, 0, 0, 0, '2024-09-02 00:00:00', '2024-09-02 00:00:00'),
(27, '게임', 'K-게임 OST 앨범 제작', 'K-게임 OST 앨범을 제작하는 프로젝트입니다.', '게임의 감동을 음악으로 표현합니다.', '2024-09-27 00:00:00', '2024-11-27 00:00:00', 17500000, 'files/projects/67/project67.png', 0, 0, 25, 5, '2024-09-27 00:00:00', '2024-09-27 00:00:00'),
(28, '게임', 'K-게임 커뮤니티 구축', 'K-게임 팬 커뮤니티를 구축하는 프로젝트입니다.', '팬들과 소통하는 공간을 만듭니다.', '2024-08-03 00:00:00', '2024-10-03 00:00:00', 12250000, 'files/projects/68/project68.png', 0, 0, 0, 0, '2024-08-03 00:00:00', '2024-08-03 00:00:00'),
(29, '게임', 'K-게임 컨퍼런스 개최', 'K-게임 컨퍼런스를 개최하는 프로젝트입니다.', '게임 관련 정보를 공유합니다.', '2024-08-03 00:00:00', '2024-10-03 00:00:00', 21000000, 'files/projects/69/project69.png', 0, 0, 10, 2, '2024-08-03 00:00:00', '2024-08-03 00:00:00'),
(30, '게임', '전통 게임 교육 클래스', '전통 게임을 배우는 클래스를 개최합니다.', '전통 게임의 매력을 느껴보세요.', '2024-09-12 00:00:00', '2024-11-12 00:00:00', 8750000, 'files/projects/70/project70.png', 0, 0, 0, 0, '2024-09-12 00:00:00', '2024-09-12 00:00:00'),

In [15]:
n_collabs = 5
idx = 1
# approval_at = f"(SELECT start_date + INTERVAL {day+5} DAY FROM projects WHERE id={project_id})" if approval == "승인" else ""

for project_id in approved_id:
    for _ in range(n_collabs):
        user_id = np.random.randint(1, 41)
        day = np.random.randint(5, 14)
        approval = "대기"
       
        title = f"(SELECT title FROM projects WHERE id={project_id})"
        content = "안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!"
        email = f"(SELECT email FROM members WHERE id={user_id})"
        phone = f"(SELECT phone_number FROM members WHERE id={user_id})"
        save_at = f"(SELECT start_date + INTERVAL {day} DAY FROM projects WHERE id={project_id})"
        name = f"(SELECT login_id FROM members WHERE id={user_id})"
        print(f"({idx}, '{approval}', '{["board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx"]}', '{content}', {email}, {title}, {phone}, {save_at}, {name}, {project_id}),")
        idx += 1

(1, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=38), (SELECT title FROM projects WHERE id=1), (SELECT phone_number FROM members WHERE id=38), (SELECT start_date + INTERVAL 10 DAY FROM projects WHERE id=1), (SELECT login_id FROM members WHERE id=38), 1),
(2, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=13), (SELECT title FROM projects WHERE id=1), (SELECT phone_number FROM members WHERE id=13), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=1), (SELECT login_id FROM members WHERE id=13), 1),
(3, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=5), (SELECT title FROM projects WHERE id=1), (SELECT phone_number FROM members WHERE id=5), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=1), (SELECT login_id FROM members WHERE id=5), 1),
(4, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=15), (SELECT title FROM projects WHERE id=1), (SELECT phone_number FROM members WHERE id=15), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=1), (SELECT login_id FROM members WHERE id=15), 1),
(5, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=38), (SELECT title FROM projects WHERE id=1), (SELECT phone_number FROM members WHERE id=38), (SELECT start_date + INTERVAL 9 DAY FROM projects WHERE id=1), (SELECT login_id FROM members WHERE id=38), 1),
(6, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=23), (SELECT title FROM projects WHERE id=3), (SELECT phone_number FROM members WHERE id=23), (SELECT start_date + INTERVAL 6 DAY FROM projects WHERE id=3), (SELECT login_id FROM members WHERE id=23), 3),
(7, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=1), (SELECT title FROM projects WHERE id=3), (SELECT phone_number FROM members WHERE id=1), (SELECT start_date + INTERVAL 9 DAY FROM projects WHERE id=3), (SELECT login_id FROM members WHERE id=1), 3),
(8, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=10), (SELECT title FROM projects WHERE id=3), (SELECT phone_number FROM members WHERE id=10), (SELECT start_date + INTERVAL 6 DAY FROM projects WHERE id=3), (SELECT login_id FROM members WHERE id=10), 3),
(9, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=12), (SELECT title FROM projects WHERE id=3), (SELECT phone_number FROM members WHERE id=12), (SELECT start_date + INTERVAL 7 DAY FROM projects WHERE id=3), (SELECT login_id FROM members WHERE id=12), 3),
(10, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=36), (SELECT title FROM projects WHERE id=3), (SELECT phone_number FROM members WHERE id=36), (SELECT start_date + INTERVAL 12 DAY FROM projects WHERE id=3), (SELECT login_id FROM members WHERE id=36), 3),
(11, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=11), (SELECT title FROM projects WHERE id=4), (SELECT phone_number FROM members WHERE id=11), (SELECT start_date + INTERVAL 11 DAY FROM projects WHERE id=4), (SELECT login_id FROM members WHERE id=11), 4),
(12, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=17), (SELECT title FROM projects WHERE id=4), (SELECT phone_number FROM members WHERE id=17), (SELECT start_date + INTERVAL 6 DAY FROM projects WHERE id=4), (SELECT login_id FROM members WHERE id=17), 4),
(13, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=8), (SELECT title FROM projects WHERE id=4), (SELECT phone_number FROM members WHERE id=8), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=4), (SELECT login_id FROM members WHERE id=8), 4),
(14, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=17), (SELECT title FROM projects WHERE id=4), (SELECT phone_number FROM members WHERE id=17), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=4), (SELECT login_id FROM members WHERE id=17), 4),
(15, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=6), (SELECT title FROM projects WHERE id=4), (SELECT phone_number FROM members WHERE id=6), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=4), (SELECT login_id FROM members WHERE id=6), 4),
(16, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=31), (SELECT title FROM projects WHERE id=6), (SELECT phone_number FROM members WHERE id=31), (SELECT start_date + INTERVAL 6 DAY FROM projects WHERE id=6), (SELECT login_id FROM members WHERE id=31), 6),
(17, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=15), (SELECT title FROM projects WHERE id=6), (SELECT phone_number FROM members WHERE id=15), (SELECT start_date + INTERVAL 7 DAY FROM projects WHERE id=6), (SELECT login_id FROM members WHERE id=15), 6),
(18, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=20), (SELECT title FROM projects WHERE id=6), (SELECT phone_number FROM members WHERE id=20), (SELECT start_date + INTERVAL 8 DAY FROM projects WHERE id=6), (SELECT login_id FROM members WHERE id=20), 6),
(19, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=29), (SELECT title FROM projects WHERE id=6), (SELECT phone_number FROM members WHERE id=29), (SELECT start_date + INTERVAL 7 DAY FROM projects WHERE id=6), (SELECT login_id FROM members WHERE id=29), 6),
(20, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=2), (SELECT title FROM projects WHERE id=6), (SELECT phone_number FROM members WHERE id=2), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=6), (SELECT login_id FROM members WHERE id=2), 6),
(21, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=3), (SELECT title FROM projects WHERE id=7), (SELECT phone_number FROM members WHERE id=3), (SELECT start_date + INTERVAL 6 DAY FROM projects WHERE id=7), (SELECT login_id FROM members WHERE id=3), 7),
(22, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=22), (SELECT title FROM projects WHERE id=7), (SELECT phone_number FROM members WHERE id=22), (SELECT start_date + INTERVAL 10 DAY FROM projects WHERE id=7), (SELECT login_id FROM members WHERE id=22), 7),
(23, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=30), (SELECT title FROM projects WHERE id=7), (SELECT phone_number FROM members WHERE id=30), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=7), (SELECT login_id FROM members WHERE id=30), 7),
(24, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=29), (SELECT title FROM projects WHERE id=7), (SELECT phone_number FROM members WHERE id=29), (SELECT start_date + INTERVAL 11 DAY FROM projects WHERE id=7), (SELECT login_id FROM members WHERE id=29), 7),
(25, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=3), (SELECT title FROM projects WHERE id=7), (SELECT phone_number FROM members WHERE id=3), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=7), (SELECT login_id FROM members WHERE id=3), 7),
(26, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=33), (SELECT title FROM projects WHERE id=8), (SELECT phone_number FROM members WHERE id=33), (SELECT start_date + INTERVAL 7 DAY FROM projects WHERE id=8), (SELECT login_id FROM members WHERE id=33), 8),
(27, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=38), (SELECT title FROM projects WHERE id=8), (SELECT phone_number FROM members WHERE id=38), (SELECT start_date + INTERVAL 7 DAY FROM projects WHERE id=8), (SELECT login_id FROM members WHERE id=38), 8),
(28, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=24), (SELECT title FROM projects WHERE id=8), (SELECT phone_number FROM members WHERE id=24), (SELECT start_date + INTERVAL 6 DAY FROM projects WHERE id=8), (SELECT login_id FROM members WHERE id=24), 8),
(29, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=28), (SELECT title FROM projects WHERE id=8), (SELECT phone_number FROM members WHERE id=28), (SELECT start_date + INTERVAL 7 DAY FROM projects WHERE id=8), (SELECT login_id FROM members WHERE id=28), 8),
(30, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=23), (SELECT title FROM projects WHERE id=8), (SELECT phone_number FROM members WHERE id=23), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=8), (SELECT login_id FROM members WHERE id=23), 8),
(31, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=35), (SELECT title FROM projects WHERE id=12), (SELECT phone_number FROM members WHERE id=35), (SELECT start_date + INTERVAL 11 DAY FROM projects WHERE id=12), (SELECT login_id FROM members WHERE id=35), 12),
(32, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=17), (SELECT title FROM projects WHERE id=12), (SELECT phone_number FROM members WHERE id=17), (SELECT start_date + INTERVAL 8 DAY FROM projects WHERE id=12), (SELECT login_id FROM members WHERE id=17), 12),
(33, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=19), (SELECT title FROM projects WHERE id=12), (SELECT phone_number FROM members WHERE id=19), (SELECT start_date + INTERVAL 10 DAY FROM projects WHERE id=12), (SELECT login_id FROM members WHERE id=19), 12),
(34, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=4), (SELECT title FROM projects WHERE id=12), (SELECT phone_number FROM members WHERE id=4), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=12), (SELECT login_id FROM members WHERE id=4), 12),
(35, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=17), (SELECT title FROM projects WHERE id=12), (SELECT phone_number FROM members WHERE id=17), (SELECT start_date + INTERVAL 7 DAY FROM projects WHERE id=12), (SELECT login_id FROM members WHERE id=17), 12),
(36, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=12), (SELECT title FROM projects WHERE id=14), (SELECT phone_number FROM members WHERE id=12), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=14), (SELECT login_id FROM members WHERE id=12), 14),
(37, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=14), (SELECT title FROM projects WHERE id=14), (SELECT phone_number FROM members WHERE id=14), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=14), (SELECT login_id FROM members WHERE id=14), 14),
(38, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=5), (SELECT title FROM projects WHERE id=14), (SELECT phone_number FROM members WHERE id=5), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=14), (SELECT login_id FROM members WHERE id=5), 14),
(39, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=16), (SELECT title FROM projects WHERE id=14), (SELECT phone_number FROM members WHERE id=16), (SELECT start_date + INTERVAL 7 DAY FROM projects WHERE id=14), (SELECT login_id FROM members WHERE id=16), 14),
(40, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=17), (SELECT title FROM projects WHERE id=14), (SELECT phone_number FROM members WHERE id=17), (SELECT start_date + INTERVAL 11 DAY FROM projects WHERE id=14), (SELECT login_id FROM members WHERE id=17), 14),
(41, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=29), (SELECT title FROM projects WHERE id=15), (SELECT phone_number FROM members WHERE id=29), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=15), (SELECT login_id FROM members WHERE id=29), 15),
(42, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=35), (SELECT title FROM projects WHERE id=15), (SELECT phone_number FROM members WHERE id=35), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=15), (SELECT login_id FROM members WHERE id=35), 15),
(43, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=37), (SELECT title FROM projects WHERE id=15), (SELECT phone_number FROM members WHERE id=37), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=15), (SELECT login_id FROM members WHERE id=37), 15),
(44, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=17), (SELECT title FROM projects WHERE id=15), (SELECT phone_number FROM members WHERE id=17), (SELECT start_date + INTERVAL 6 DAY FROM projects WHERE id=15), (SELECT login_id FROM members WHERE id=17), 15),
(45, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=14), (SELECT title FROM projects WHERE id=15), (SELECT phone_number FROM members WHERE id=14), (SELECT start_date + INTERVAL 11 DAY FROM projects WHERE id=15), (SELECT login_id FROM members WHERE id=14), 15),
(46, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=3), (SELECT title FROM projects WHERE id=17), (SELECT phone_number FROM members WHERE id=3), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=17), (SELECT login_id FROM members WHERE id=3), 17),
(47, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=7), (SELECT title FROM projects WHERE id=17), (SELECT phone_number FROM members WHERE id=7), (SELECT start_date + INTERVAL 5 DAY FROM projects WHERE id=17), (SELECT login_id FROM members WHERE id=7), 17),
(48, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=30), (SELECT title FROM projects WHERE id=17), (SELECT phone_number FROM members WHERE id=30), (SELECT start_date + INTERVAL 7 DAY FROM projects WHERE id=17), (SELECT login_id FROM members WHERE id=30), 17),
(49, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=29), (SELECT title FROM projects WHERE id=17), (SELECT phone_number FROM members WHERE id=29), (SELECT start_date + INTERVAL 10 DAY FROM projects WHERE id=17), (SELECT login_id FROM members WHERE id=29), 17),
(50, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=24), (SELECT title FROM projects WHERE id=17), (SELECT phone_number FROM members WHERE id=24), (SELECT start_date + INTERVAL 8 DAY FROM projects WHERE id=17), (SELECT login_id FROM members WHERE id=24), 17),
(51, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=1), (SELECT title FROM projects WHERE id=19), (SELECT phone_number FROM members WHERE id=1), (SELECT start_date + INTERVAL 8 DAY FROM projects WHERE id=19), (SELECT login_id FROM members WHERE id=1), 19),
(52, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=29), (SELECT title FROM projects WHERE id=19), (SELECT phone_number FROM members WHERE id=29), (SELECT start_date + INTERVAL 13 DAY FROM projects WHERE id=19), (SELECT login_id FROM members WHERE id=29), 19),
(53, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=11), (SELECT title FROM projects WHERE id=19), (SELECT phone_number FROM members WHERE id=11), (SELECT start_date + INTERVAL 8 DAY FROM projects WHERE id=19), (SELECT login_id FROM members WHERE id=11), 19),
(54, '대기', '['board/4fbb3dab-7970-4770-978a-5b1f05218b7e_협업 제안서.docx']', '안녕하세요! 부디 꼭 협업을 진행하고 싶습니다. 메일이나 전화로 꼭 연락주세요. 감사합니다!', (SELECT email FROM members WHERE id=34), (SELECT title FROM projects WHERE id=19), (SELECT phone_number FROM members WHERE id=34), (SELECT start_date + INTERVAL 10 DAY FROM projects WHERE id=19), (SELECT login_id FROM members WHERE id=34), 19),

In [16]:
for id in range(1, (n_collabs * len(approved_id)) + 1):
    p = np.random.random()
    if (p <= 2/6):
        day = np.random.randint(5, 14)
        date = f"(SELECT saved_at + INTERVAL {day} DAY FROM projects WHERE id={id})"
        print(f"UPDATE collaboration SET approval='승인', approval_date={date} WHERE id={id};")
    elif (p >= 5/6):
        print(f"UPDATE collaboration SET approval='거절' WHERE id={id};")

UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=3) WHERE id=3;
UPDATE collaboration SET approval='거절' WHERE id=6;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=8) WHERE id=8;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=12) WHERE id=12;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 5 DAY FROM projects WHERE id=13) WHERE id=13;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 13 DAY FROM projects WHERE id=16) WHERE id=16;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 5 DAY FROM projects WHERE id=20) WHERE id=20;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 9 DAY FROM projects WHERE id=21) WHERE id=21;
UPDATE collaboration SET approval='거절' WHERE id=24;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=25) WHERE id=25;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 8 DAY FROM projects WHERE id=26) WHERE id=26;
UPDATE collaboration SET approval='거절' WHERE id=27;
UPDATE collaboration SET approval='거절' WHERE id=33;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 13 DAY FROM projects WHERE id=37) WHERE id=37;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 8 DAY FROM projects WHERE id=39) WHERE id=39;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 10 DAY FROM projects WHERE id=40) WHERE id=40;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 5 DAY FROM projects WHERE id=41) WHERE id=41;
UPDATE collaboration SET approval='거절' WHERE id=44;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 10 DAY FROM projects WHERE id=45) WHERE id=45;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 8 DAY FROM projects WHERE id=47) WHERE id=47;
UPDATE collaboration SET approval='거절' WHERE id=49;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 12 DAY FROM projects WHERE id=50) WHERE id=50;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 9 DAY FROM projects WHERE id=51) WHERE id=51;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 11 DAY FROM projects WHERE id=54) WHERE id=54;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=56) WHERE id=56;
UPDATE collaboration SET approval='거절' WHERE id=57;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 10 DAY FROM projects WHERE id=58) WHERE id=58;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=60) WHERE id=60;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 10 DAY FROM projects WHERE id=61) WHERE id=61;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 13 DAY FROM projects WHERE id=62) WHERE id=62;
UPDATE collaboration SET approval='거절' WHERE id=63;
UPDATE collaboration SET approval='거절' WHERE id=65;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 10 DAY FROM projects WHERE id=68) WHERE id=68;
UPDATE collaboration SET approval='거절' WHERE id=69;
UPDATE collaboration SET approval='거절' WHERE id=71;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 5 DAY FROM projects WHERE id=73) WHERE id=73;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 10 DAY FROM projects WHERE id=77) WHERE id=77;
UPDATE collaboration SET approval='거절' WHERE id=80;
UPDATE collaboration SET approval='거절' WHERE id=82;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 12 DAY FROM projects WHERE id=84) WHERE id=84;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=85) WHERE id=85;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 8 DAY FROM projects WHERE id=86) WHERE id=86;
UPDATE collaboration SET approval='거절' WHERE id=89;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 12 DAY FROM projects WHERE id=90) WHERE id=90;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 8 DAY FROM projects WHERE id=91) WHERE id=91;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 10 DAY FROM projects WHERE id=92) WHERE id=92;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 5 DAY FROM projects WHERE id=93) WHERE id=93;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 12 DAY FROM projects WHERE id=94) WHERE id=94;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 5 DAY FROM projects WHERE id=95) WHERE id=95;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=96) WHERE id=96;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 10 DAY FROM projects WHERE id=99) WHERE id=99;
UPDATE collaboration SET approval='거절' WHERE id=101;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 12 DAY FROM projects WHERE id=103) WHERE id=103;
UPDATE collaboration SET approval='거절' WHERE id=105;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=108) WHERE id=108;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 9 DAY FROM projects WHERE id=109) WHERE id=109;
UPDATE collaboration SET approval='거절' WHERE id=111;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 9 DAY FROM projects WHERE id=112) WHERE id=112;
UPDATE collaboration SET approval='거절' WHERE id=113;
UPDATE collaboration SET approval='거절' WHERE id=116;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 8 DAY FROM projects WHERE id=117) WHERE id=117;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 13 DAY FROM projects WHERE id=121) WHERE id=121;
UPDATE collaboration SET approval='거절' WHERE id=122;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=123) WHERE id=123;
UPDATE collaboration SET approval='거절' WHERE id=124;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=126) WHERE id=126;
UPDATE collaboration SET approval='거절' WHERE id=127;
UPDATE collaboration SET approval='거절' WHERE id=128;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 5 DAY FROM projects WHERE id=129) WHERE id=129;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 11 DAY FROM projects WHERE id=130) WHERE id=130;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=131) WHERE id=131;
UPDATE collaboration SET approval='거절' WHERE id=132;
UPDATE collaboration SET approval='거절' WHERE id=137;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 10 DAY FROM projects WHERE id=138) WHERE id=138;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=142) WHERE id=142;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 9 DAY FROM projects WHERE id=143) WHERE id=143;
UPDATE collaboration SET approval='거절' WHERE id=144;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 9 DAY FROM projects WHERE id=145) WHERE id=145;
UPDATE collaboration SET approval='거절' WHERE id=147;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 9 DAY FROM projects WHERE id=148) WHERE id=148;
UPDATE collaboration SET approval='거절' WHERE id=149;
UPDATE collaboration SET approval='거절' WHERE id=150;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=151) WHERE id=151;
UPDATE collaboration SET approval='거절' WHERE id=154;
UPDATE collaboration SET approval='거절' WHERE id=156;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 9 DAY FROM projects WHERE id=158) WHERE id=158;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=159) WHERE id=159;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=160) WHERE id=160;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=161) WHERE id=161;
UPDATE collaboration SET approval='거절' WHERE id=162;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 11 DAY FROM projects WHERE id=168) WHERE id=168;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=170) WHERE id=170;
UPDATE collaboration SET approval='거절' WHERE id=171;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 13 DAY FROM projects WHERE id=172) WHERE id=172;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 5 DAY FROM projects WHERE id=175) WHERE id=175;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 7 DAY FROM projects WHERE id=177) WHERE id=177;
UPDATE collaboration SET approval='거절' WHERE id=178;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 5 DAY FROM projects WHERE id=179) WHERE id=179;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 11 DAY FROM projects WHERE id=182) WHERE id=182;
UPDATE collaboration SET approval='거절' WHERE id=183;
UPDATE collaboration SET approval='거절' WHERE id=186;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 13 DAY FROM projects WHERE id=187) WHERE id=187;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 6 DAY FROM projects WHERE id=188) WHERE id=188;
UPDATE collaboration SET approval='승인', approval_date=(SELECT saved_at + INTERVAL 11 DAY FROM projects WHERE id=193) WHERE id=193;
UPDATE collaboration SET approval='거절' WHERE id=195;

In [17]:
approved_id

[1,
 3,
 4,
 6,
 7,
 8,
 12,
 14,
 15,
 17,
 19,
 23,
 24,
 25,
 27,
 30,
 31,
 32,
 33,
 35,
 36,
 38,
 39,
 43,
 44,
 45,
 47,
 48,
 51,
 52,
 53,
 54,
 56,
 57,
 60,
 61,
 65,
 67,
 69]

In [18]:
ord = 4
for file_suffix in ["-2.png", "-3.png"]:
    for image_type in ['product', 'description']:
        filename = f"project{project_id}"+file_suffix
        url = f"files/projects/{project_id}/{filename}"
        image_type_id = f"(SELECT id FROM project_image_type WHERE image_type='{image_type}')"
        print(f"('{filename}', {ord}, '{url}', {image_type_id}, {project_id})")
        ord += 1

('project69-2.png', 4, 'files/projects/69/project69-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 69)
('project69-2.png', 5, 'files/projects/69/project69-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 69)
('project69-3.png', 6, 'files/projects/69/project69-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 69)
('project69-3.png', 7, 'files/projects/69/project69-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 69)

In [19]:
for project_id in approved_id:
    ord = 4
    for file_suffix in ["-2.png", "-3.png"]:
        for image_type in ['product', 'description']:
            filename = f"project{project_id}"+file_suffix
            url = f"files/projects/{project_id}/{filename}"
            image_type_id = f"(SELECT id FROM project_image_type WHERE image_type='{image_type}')"
            print(f"('{filename}', {ord}, '{url}', {image_type_id}, {project_id}),")
            ord += 1

('project1-2.png', 4, 'files/projects/1/project1-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 1),
('project1-2.png', 5, 'files/projects/1/project1-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 1),
('project1-3.png', 6, 'files/projects/1/project1-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 1),
('project1-3.png', 7, 'files/projects/1/project1-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 1),
('project3-2.png', 4, 'files/projects/3/project3-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 3),
('project3-2.png', 5, 'files/projects/3/project3-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 3),
('project3-3.png', 6, 'files/projects/3/project3-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 3),
('project3-3.png', 7, 'files/projects/3/project3-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 3),
('project4-2.png', 4, 'files/projects/4/project4-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 4),
('project4-2.png', 5, 'files/projects/4/project4-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 4),
('project4-3.png', 6, 'files/projects/4/project4-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 4),
('project4-3.png', 7, 'files/projects/4/project4-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 4),
('project6-2.png', 4, 'files/projects/6/project6-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 6),
('project6-2.png', 5, 'files/projects/6/project6-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 6),
('project6-3.png', 6, 'files/projects/6/project6-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 6),
('project6-3.png', 7, 'files/projects/6/project6-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 6),
('project7-2.png', 4, 'files/projects/7/project7-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 7),
('project7-2.png', 5, 'files/projects/7/project7-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 7),
('project7-3.png', 6, 'files/projects/7/project7-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 7),
('project7-3.png', 7, 'files/projects/7/project7-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 7),
('project8-2.png', 4, 'files/projects/8/project8-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 8),
('project8-2.png', 5, 'files/projects/8/project8-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 8),
('project8-3.png', 6, 'files/projects/8/project8-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 8),
('project8-3.png', 7, 'files/projects/8/project8-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 8),
('project12-2.png', 4, 'files/projects/12/project12-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 12),
('project12-2.png', 5, 'files/projects/12/project12-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 12),
('project12-3.png', 6, 'files/projects/12/project12-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 12),
('project12-3.png', 7, 'files/projects/12/project12-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 12),
('project14-2.png', 4, 'files/projects/14/project14-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 14),
('project14-2.png', 5, 'files/projects/14/project14-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 14),
('project14-3.png', 6, 'files/projects/14/project14-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 14),
('project14-3.png', 7, 'files/projects/14/project14-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 14),
('project15-2.png', 4, 'files/projects/15/project15-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 15),
('project15-2.png', 5, 'files/projects/15/project15-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 15),
('project15-3.png', 6, 'files/projects/15/project15-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 15),
('project15-3.png', 7, 'files/projects/15/project15-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 15),
('project17-2.png', 4, 'files/projects/17/project17-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 17),
('project17-2.png', 5, 'files/projects/17/project17-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 17),
('project17-3.png', 6, 'files/projects/17/project17-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 17),
('project17-3.png', 7, 'files/projects/17/project17-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 17),
('project19-2.png', 4, 'files/projects/19/project19-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 19),
('project19-2.png', 5, 'files/projects/19/project19-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 19),
('project19-3.png', 6, 'files/projects/19/project19-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 19),
('project19-3.png', 7, 'files/projects/19/project19-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 19),
('project23-2.png', 4, 'files/projects/23/project23-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 23),
('project23-2.png', 5, 'files/projects/23/project23-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 23),
('project23-3.png', 6, 'files/projects/23/project23-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 23),
('project23-3.png', 7, 'files/projects/23/project23-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 23),
('project24-2.png', 4, 'files/projects/24/project24-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 24),
('project24-2.png', 5, 'files/projects/24/project24-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 24),
('project24-3.png', 6, 'files/projects/24/project24-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 24),
('project24-3.png', 7, 'files/projects/24/project24-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 24),
('project25-2.png', 4, 'files/projects/25/project25-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 25),
('project25-2.png', 5, 'files/projects/25/project25-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 25),
('project25-3.png', 6, 'files/projects/25/project25-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 25),
('project25-3.png', 7, 'files/projects/25/project25-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 25),
('project27-2.png', 4, 'files/projects/27/project27-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 27),
('project27-2.png', 5, 'files/projects/27/project27-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 27),
('project27-3.png', 6, 'files/projects/27/project27-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 27),
('project27-3.png', 7, 'files/projects/27/project27-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 27),
('project30-2.png', 4, 'files/projects/30/project30-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 30),
('project30-2.png', 5, 'files/projects/30/project30-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 30),
('project30-3.png', 6, 'files/projects/30/project30-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 30),
('project30-3.png', 7, 'files/projects/30/project30-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 30),
('project31-2.png', 4, 'files/projects/31/project31-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 31),
('project31-2.png', 5, 'files/projects/31/project31-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 31),
('project31-3.png', 6, 'files/projects/31/project31-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 31),
('project31-3.png', 7, 'files/projects/31/project31-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 31),
('project32-2.png', 4, 'files/projects/32/project32-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 32),
('project32-2.png', 5, 'files/projects/32/project32-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 32),
('project32-3.png', 6, 'files/projects/32/project32-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 32),
('project32-3.png', 7, 'files/projects/32/project32-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 32),
('project33-2.png', 4, 'files/projects/33/project33-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 33),
('project33-2.png', 5, 'files/projects/33/project33-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 33),
('project33-3.png', 6, 'files/projects/33/project33-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 33),
('project33-3.png', 7, 'files/projects/33/project33-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 33),
('project35-2.png', 4, 'files/projects/35/project35-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 35),
('project35-2.png', 5, 'files/projects/35/project35-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 35),
('project35-3.png', 6, 'files/projects/35/project35-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 35),
('project35-3.png', 7, 'files/projects/35/project35-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 35),
('project36-2.png', 4, 'files/projects/36/project36-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 36),
('project36-2.png', 5, 'files/projects/36/project36-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 36),
('project36-3.png', 6, 'files/projects/36/project36-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 36),
('project36-3.png', 7, 'files/projects/36/project36-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 36),
('project38-2.png', 4, 'files/projects/38/project38-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 38),
('project38-2.png', 5, 'files/projects/38/project38-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 38),
('project38-3.png', 6, 'files/projects/38/project38-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 38),
('project38-3.png', 7, 'files/projects/38/project38-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 38),
('project39-2.png', 4, 'files/projects/39/project39-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 39),
('project39-2.png', 5, 'files/projects/39/project39-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 39),
('project39-3.png', 6, 'files/projects/39/project39-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 39),
('project39-3.png', 7, 'files/projects/39/project39-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 39),
('project43-2.png', 4, 'files/projects/43/project43-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 43),
('project43-2.png', 5, 'files/projects/43/project43-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 43),
('project43-3.png', 6, 'files/projects/43/project43-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 43),
('project43-3.png', 7, 'files/projects/43/project43-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 43),
('project44-2.png', 4, 'files/projects/44/project44-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 44),
('project44-2.png', 5, 'files/projects/44/project44-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 44),
('project44-3.png', 6, 'files/projects/44/project44-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 44),
('project44-3.png', 7, 'files/projects/44/project44-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 44),
('project45-2.png', 4, 'files/projects/45/project45-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 45),
('project45-2.png', 5, 'files/projects/45/project45-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 45),
('project45-3.png', 6, 'files/projects/45/project45-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 45),
('project45-3.png', 7, 'files/projects/45/project45-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 45),
('project47-2.png', 4, 'files/projects/47/project47-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 47),
('project47-2.png', 5, 'files/projects/47/project47-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 47),
('project47-3.png', 6, 'files/projects/47/project47-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 47),
('project47-3.png', 7, 'files/projects/47/project47-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 47),
('project48-2.png', 4, 'files/projects/48/project48-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 48),
('project48-2.png', 5, 'files/projects/48/project48-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 48),
('project48-3.png', 6, 'files/projects/48/project48-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 48),
('project48-3.png', 7, 'files/projects/48/project48-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 48),
('project51-2.png', 4, 'files/projects/51/project51-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 51),
('project51-2.png', 5, 'files/projects/51/project51-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 51),
('project51-3.png', 6, 'files/projects/51/project51-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 51),
('project51-3.png', 7, 'files/projects/51/project51-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 51),
('project52-2.png', 4, 'files/projects/52/project52-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 52),
('project52-2.png', 5, 'files/projects/52/project52-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 52),
('project52-3.png', 6, 'files/projects/52/project52-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 52),
('project52-3.png', 7, 'files/projects/52/project52-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 52),
('project53-2.png', 4, 'files/projects/53/project53-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 53),
('project53-2.png', 5, 'files/projects/53/project53-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 53),
('project53-3.png', 6, 'files/projects/53/project53-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 53),
('project53-3.png', 7, 'files/projects/53/project53-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 53),
('project54-2.png', 4, 'files/projects/54/project54-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 54),
('project54-2.png', 5, 'files/projects/54/project54-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 54),
('project54-3.png', 6, 'files/projects/54/project54-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 54),
('project54-3.png', 7, 'files/projects/54/project54-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 54),
('project56-2.png', 4, 'files/projects/56/project56-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 56),
('project56-2.png', 5, 'files/projects/56/project56-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 56),
('project56-3.png', 6, 'files/projects/56/project56-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 56),
('project56-3.png', 7, 'files/projects/56/project56-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 56),
('project57-2.png', 4, 'files/projects/57/project57-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 57),
('project57-2.png', 5, 'files/projects/57/project57-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 57),
('project57-3.png', 6, 'files/projects/57/project57-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 57),
('project57-3.png', 7, 'files/projects/57/project57-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 57),
('project60-2.png', 4, 'files/projects/60/project60-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 60),
('project60-2.png', 5, 'files/projects/60/project60-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 60),
('project60-3.png', 6, 'files/projects/60/project60-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 60),
('project60-3.png', 7, 'files/projects/60/project60-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 60),
('project61-2.png', 4, 'files/projects/61/project61-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 61),
('project61-2.png', 5, 'files/projects/61/project61-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 61),
('project61-3.png', 6, 'files/projects/61/project61-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 61),
('project61-3.png', 7, 'files/projects/61/project61-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 61),
('project65-2.png', 4, 'files/projects/65/project65-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 65),
('project65-2.png', 5, 'files/projects/65/project65-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 65),
('project65-3.png', 6, 'files/projects/65/project65-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 65),
('project65-3.png', 7, 'files/projects/65/project65-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 65),
('project67-2.png', 4, 'files/projects/67/project67-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 67),
('project67-2.png', 5, 'files/projects/67/project67-2.png', (SELECT id FROM project_image_type WHERE image_type='description'), 67),
('project67-3.png', 6, 'files/projects/67/project67-3.png', (SELECT id FROM project_image_type WHERE image_type='product'), 67),
('project67-3.png', 7, 'files/projects/67/project67-3.png', (SELECT id FROM project_image_type WHERE image_type='description'), 67),
('project69-2.png', 4, 'files/projects/69/project69-2.png', (SELECT id FROM project_image_type WHERE image_type='product'), 69),